@font-face {
  font-family: "Theinhardt Pan";
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/TheinhardtPanLight.woff') format('woff'),
    url('../fonts/TheinhardtPanLight.ttf') format('truetype');
}
@font-face {
    font-family: "Theinhardt Pan";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/TheinhardtPanRegular.woff') format('woff'),
      url('../fonts/TheinhardtPanRegular.ttf') format('truetype');
}
@font-face {
    font-family: "Theinhardt Pan";
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/TheinhardtPanMedium.woff') format('woff'),
      url('../fonts/TheinhardtPanMedium.ttf') format('truetype');
}
@font-face {
  font-family: "Theinhardt Pan";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/TheinhardtPanBold.woff') format('woff'),
    url('../fonts/TheinhardtPanBold.ttf') format('truetype');
}