// Theinhardt –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Light
@font-face 
{
	font-family: "Theinhardt Pan";
	font-weight: 300;
	font-style: normal;
	src:
		url('../fonts/Theinhardt-Pan-Light.woff2') format('woff2'),
		url('../fonts/Theinhardt-Pan-Light.woff') format('woff'),
		url('../fonts/Theinhardt-Pan-Light.ttf') format('truetype');
}

// Regular
@font-face 
{
	font-family: "Theinhardt Pan";
	font-weight: 400;
	font-style: normal;
	src: 
		url('../fonts/Theinhardt-Pan-Regular.woff2') format('woff2'),
		url('../fonts/Theinhardt-Pan-Regular.woff') format('woff'),
		url('../fonts/Theinhardt-Pan-Regular.ttf') format('truetype');
}

// Medium
@font-face 
{
	font-family: "Theinhardt Pan";
	font-weight: 600;
	font-style: normal;
	src:
		url('../fonts/Theinhardt-Pan-Medium.woff2') format('woff2'),
		url('../fonts/Theinhardt-Pan-Medium.woff') format('woff'),
		url('../fonts/Theinhardt-Pan-Medium.ttf') format('truetype');
}

// Bold
@font-face 
{
	font-family: "Theinhardt Pan";
	font-weight: 700;
	font-style: normal;
	src: 
		url('../fonts/Theinhardt-Pan-Bold.woff2') format('woff2'),
		url('../fonts/Theinhardt-Pan-Bold.woff') format('woff'),
		url('../fonts/Theinhardt-Pan-Bold.ttf') format('truetype');
}
// Bold italic
// @font-face 
// {
// 	font-family: "Theinhardt Pan" sans-serif;
// 	src: url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.eot');
// 	src: url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.woff2') format('woff2'),
// 		url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.woff') format('woff'),
// 		url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.ttf') format('truetype'),
// 		url('../fonts/theinhardt/bold-italic/theinhardt-boldita-webfont.svg#theinhardtbold_italic') format('svg');
//   font-weight: 700;
// 	font-style: italic;
// }