$white                : #ffffff;
$black                : #000000;
$action               : #E1372F;

$blue                 : #5F49F2;

$light-grey           : rgba(255,255,255,0.7);
$grey                 : rgba(255,255,255,0.5);

$light-pink           : #F6C4D2;

$body-bg              : #171830;
$body-bg-secondary    : #181933;
$body-color           : $white;

$border-color         : #000;
$border-radius        : 20px;

$link-color           : $white !default;
$link-hover-color     : $action !default;
$link-decoration      : none !default;
$link-hover-decoration: underline !default;

$transition-base      : .3s;

$grid-breakpoints: (
  xs: 420px,
  sm: 660px,
  md: 920px,
  lg: 1380px,
  xl: 1600px
) !default;

$container-max-widths: (
  // xs: 320px,
  // sm: 400px,
  // md: 660px,
  // lg: 860px,
  xl: 1180px,
) !default;


$font-weight          : 400;
// $font-weight-bolder   : 600;
$font-weight-bold     : 700;

$font-weight-heading: $font-weight !default;
$dt-font-weight:      $font-weight !default;

$line-height          : 1.6;
$line-height-base     : 1.4;
$line-height-heading  : 1.2;

$font-size-base       : 1rem;
$font-weight-base     : $font-weight;

$font-family-heading  : "Theinhardt Pan", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base     : "Theinhardt Pan", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;

$font-size: (
  // small
  xs: 12px,
  // smaller
  sm: 14px,
  // main
  md: 16px,
  // lead
  lg: 20px
) !default;

$heading: (
  h6: 18px,
  h5: 20px,
  h4: 24px,
  h3: 32px,
  h2: 40px,
  h1: 50px
) !default;

$letter-spacing       : 0.04em;

$grid-columns         : 10    !default;
$grid-gutter-width    : 20px  !default;
$spacer-gutter        : 15px  !default;

$spacer : 40px!default;
$spacers: ()  !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: $spacer/2,       // 20px
    2: (3*$spacer)/4,   // 30px
    3: $spacer,         // 40px
    4: (3*$spacer)/2,   // 60px
    5: $spacer * 2,     // 80px
  ),
  $spacers
);

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family  : null !default;
$headings-font-weight  : 400 !default;
$headings-line-height  : 1.2 !default;
$headings-color        : null !default;

$paragraph-margin-bottom: $spacer-gutter !default;

$table-cell-padding   : 10px !default;
$table-cell-padding-sm: 6px !default;
$table-caption-color  : #242424 !default;

$label-margin-bottom  : 10px;

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;

// Utilities

$displays : none,   inline,   inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto,   hidden !default;
$positions: static, relative, absolute,     fixed, sticky !default;


// Printing

$print-page-size     : a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;