.advantage{
    text-align: center;

    &__icon{
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2*$spacer-gutter;

        svg{
            width: auto;
            height: 100%;
        }
    }

    &__title{
        font-size: 40px;
        line-height: $line-height-heading;
        font-weight: $font-weight-bolder;
        // color: $action;
        margin-bottom: $spacer-gutter;
    }
    &__intro{
        font-size: map-get($map: $heading, $key: h5);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .advantage{
        &__title{
            font-size: map-get($map: $heading, $key: h4);
        }
        &__intro{
            font-size: map-get($map: $heading, $key: h6);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .advantage{
        &__icon{
            height: 34px;
        }
        &__title{
            font-size: map-get($map: $heading, $key: h4);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}