.btn{
    border-radius: $border-radius;

    font-size: map-get($map: $font-size, $key: lg);
    font-weight: 500;
    line-height: $line-height-heading;

    padding: 26px 56px 24px 56px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    transition: $transition-base;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}
// < 1680px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .btn{
        font-size: map-get($map: $font-size, $key: md);
        padding: 22px 56px 20px 56px;
    }
}
// 920px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .btn{
        font-size: map-get($map: $font-size, $key: sm);
        padding: 14px 36px 12px 36px;
        border-radius: $border-radius/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        // font-size: map-get($map: $font-size, $key: sm);
        padding: 14px 24px 12px 24px;
        border-radius: $border-radius/2;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .btn{
        font-size: map-get($map: $font-size, $key: xs);
        padding: 12px 18px 10px 18px;
    }
}