.btn{
    border-radius: $border-radius;

    // font-size: map-get($map: $font-size, $key: lg);
    font-size: map-get($map: $heading, $key: h5);
    font-weight: 500;
    line-height: $line-height-heading;

    padding: 22px 36px 24px 36px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    transition: $transition-base;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .btn{
        font-size: map-get($map: $heading, $key: h6);
        // padding: 20px 26px 22px 26px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .btn{
        font-size: map-get($map: $font-size, $key: lg);
        padding: 20px 26px 22px 26px;
    }
}