.btn{
    border-radius: $border-radius;

    font-size: map-get($map: $heading, $key: h5);
    font-weight: 500;
    line-height: $line-height-heading;

    padding: 24px 56px 22px 56px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    transition: $transition-base;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .btn{
        font-size: map-get($map: $font-size, $key: md);
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        font-size: map-get($map: $font-size, $key: sm);
        padding: 14px 36px 12px 36px;
        border-radius: $border-radius/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        // font-size: map-get($map: $font-size, $key: sm);
        padding: 14px 24px 12px 24px;
        border-radius: $border-radius/2;
    }
}