.advantage{
    padding: 180px 0;
    overflow-x: clip;

    &__items{
        position: relative;
    }
    &__figure{
        position: absolute;
        top: 80px;
        left: 360px;
        z-index: -1;
    }
    &__figure-mobile{
        display: none;
    }
}
// < 1680px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .advantage{
        padding: 140px 0;

        &__figure{
            top: 60px;
            left: 300px;
        }
    }
}
// < 1380px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .advantage{
        // padding: map-get($map: $spacers, $key: 5) 0;

        &__title{
            font-size: map-get($map: $font-size, $key: lg);
            line-height: $line-height-base;
        }
        &__figure{
            display: none;
        }
        &__figure-mobile{
            display: block;
            position: absolute;
            top: -80px;
            left: 320px;
            z-index: -1;
        }
    }
}
// < 920px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .advantage{
        padding: map-get($map: $spacers, $key: 4) 0 map-get($map: $spacers, $key: 5);
        &__figure-mobile{
            top: -30px;
            left: 200px;
            height: 400px;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .advantage{
        &__figure-mobile {
            top: -60px;
            left: 280px;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .advantage{
        &__figure-mobile{
            left: 260px;
        }
    }
}
// 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .advantage{
        padding: map-get($map: $spacers, $key: 3) 0;
        
        &__figure-mobile{
            left: 160px;
        }
        &__title{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}