.swiper {
    width: 100%;
    height: auto;

    .swiper-wrapper,
    .swiper-container{
        height: auto;
        height: intrinsic;
    }

    .swiper-slide {
        width: auto;
        height: auto;
        height: intrinsic;

        filter: opacity( 0.5 );

        &.swiper-slide-next{
            filter: opacity( 1 );

            & + .swiper-slide{
                filter: opacity( 1 );
            }
        }
        &.swiper-slide-active{
            filter: opacity( 1 );
        }
    }
}
// Content Slider Blocks
.content__slider.swiper-initialized{
    max-width: 100%;

    padding-left: calc( (100% - 1400px)/2 );
    padding-right: calc( (100% - 1400px)/2 );

    .content__slider-wrapper{
        grid-gap: 0;
    }
    .content__slider-arrow{
        width: calc( (100% - 1400px)/2 - 60px);
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content__slider.swiper-initialized{
        max-width: 100%;
    
        padding-left: calc( (100% - 1240px)/2 );
        padding-right: calc( (100% - 1240px)/2 );
    
        .content__slider-wrapper{
            grid-gap: 0;
        }
        .content__slider-arrow{
            width: calc( (100% - 1240px)/2 - 20px);
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content__slider.swiper-initialized{
        max-width: 100%;
    
        padding-left: calc( (100% - 940px)/2 );
        padding-right: calc( (100% - 940px)/2 );
    
        .content__slider-wrapper{
            grid-gap: 0;
        }
        .content__slider-arrow{
            width: calc( (100% - 940px)/2 - 20px);
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content__slider.swiper-initialized{
        max-width: 100%;
    
        padding-left: calc( (100% - 680px)/2 );
        padding-right: calc( (100% - 680px)/2 );
    
        .content__slider-wrapper{
            grid-gap: 0;
        }
        .content__slider-arrow{
            width: calc( (100% - 680px)/2 - 20px);
        }
    }

    .swiper{
        .swiper-slide {
            &.swiper-slide-next{
                & + .swiper-slide{
                    filter: opacity( 0.5 );
                }
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content__slider.swiper-initialized{
        max-width: 100%;
    
        padding-left: calc( (100% - 440px)/2 );
        padding-right: calc( (100% - 440px)/2 );
    
        .content__slider-wrapper{
            grid-gap: 0;
        }
        .content__slider-arrow{
            width: calc( (100% - 440px)/2 - 20px);
        }
    }

    .swiper{
        .swiper-slide {
            &.swiper-slide-next{
                filter: opacity( 0.5 );
            }
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content__slider{
        max-width: 100%;

        &.swiper-initialized{
            padding-left: $spacer;
            padding-right: $spacer;

            .content__slider-arrow{
                width: 0px;
            }
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .content__slider{
        max-width: 100%;
        
        &.swiper-initialized{
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }
    }
}