.stocks{
    background: $body-bg-secondary;
    // min-height: 900px;
    // height: 100vh;

    &__container{
        max-width: 1440px;
    }

    &__info{       
        padding-top: 200px;
        padding-bottom: map-get($map: $spacers, $key: 5);
    }
    &__info-grid{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: repeat(2,1fr);
    }
    &__graph{
        grid-column-start: 1;
        grid-column-end: 3;

        // background-color: $dark-grey;
        // border-radius: $border-radius;
        
        position: relative;
        margin-right: -60px;
        padding-left: 6px;
        // width: 100%;
        // max-width: 100%;
        // overflow: auto;

        &:before{
            content: '';
            display: block;

            width: calc( 100% - 60px);
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background-color: $dark-grey;
            border-radius: $border-radius;
        }

        canvas{
            position: relative;
            z-index: 9;
        }
    }
    &__btns{
        display: grid;
        grid-gap: $grid-gutter-width;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

        // &-item{
        //     width: 100%;
        // }
    }
    &__btn{
        white-space: nowrap;
        width: 100%;
    }

    // Chat
    &__chat{
        position: relative;

        padding-top: 200px;
        // min-height: 900px;
        min-height: 975px;
        height: 100vh;

        &:after{
            content: '';
            position: absolute;
            right: 0;
            // bottom: -(map-get($map: $spacers, $key: 5));
            bottom: 0;
            z-index: 11;
    
            width: 410px;
            max-width: 100%;
            height: 390px;
            background: url('../img/business-man-chat.png') no-repeat center bottom / contain;
        }

        &-body{
            // padding: 0 map-get($map: $spacers, $key: 1);
            height: 100%;
            overflow-y: hidden;
            // overflow-y: auto;
        }
    }
    &__message{
        display: none;
        // display: grid;
        grid-gap: $grid-gutter-width/2;
        grid-template-areas: 
            "name date"
            "text text";

        padding: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);
        border-radius: $border-radius;
        border-bottom-right-radius: $border-radius/4;
        border: 1px solid $blue;

        &:nth-child(1){ background-color: $blue; display: grid;}
        &:nth-child(2){ filter: opacity(.4); display: grid;}
        &:nth-child(3){ filter: opacity(.2); display: grid;}
        &:nth-child(4){ filter: opacity(.1); display: grid;}

    }
    &__message-name{
        grid-area: name;
        font-size: map-get($map: $font-size, $key: sm);
        text-transform: uppercase;
        color: $white;
        filter: opacity(.5);
    }
    &__message-date{
        grid-area: date;
        font-size: map-get($map: $font-size, $key: sm);
        text-align: right;
        color: $white;
        filter: opacity(.5);
    }
    &__message-text{
        grid-area: text;
        font-size: map-get($map: $font-size, $key: lg);
        line-height: $line-height-base;
    }
}

// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .stocks{
        &__container{
            // 1240 + 40
            max-width: 1280px;
            // max-width: map-get($map: $container-max-widths, $key: xl);
        }
        &__message-text{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__info{
            padding-top: 120px;
            padding-bottom: map-get($map: $spacers, $key: 4);
        }
        &__chat{
            padding-top: 120px;
            min-height: 720px;

            &:after{
                height: 360px;
            }
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .stocks{
        padding-top: 120px;

        &__container{
            max-width: map-get($map: $container-max-widths, $key: lg);
        }
        &__info{
            padding-top: 0;
            padding-bottom: 0;
        }
        &__chat{
            min-height: 1px;
            max-height: 420px;
            padding-top: 0;

            height: auto;
            overflow: hidden;
            
            &-body{
                width: calc(100% - 220px);
                margin-left: auto;
            }

            &:after{
                top: 0;
                left: 0;
                right: auto;
                bottom: auto;

                width: 160px;
                height: 160px;
                background-color: $blue;
                border-radius: 50%;
            }
        }
        &__message{
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: 5px;
        }
        &__btns{
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .stocks{
        // padding-top: 100px;

        &__container{
            max-width: map-get($map: $container-max-widths, $key: md);
        }
        &__message-name{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__message-date{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__message-text{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__chat{
            &-body{
                width: calc(100% - 120px);
            }
            &:after{
                width: 100px;
                height: 100px;
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .stocks{
        padding-top: map-get($map: $spacers, $key: 5);

        &__container{
            max-width: map-get($map: $container-max-widths, $key: sm);
        }
        &__info-grid{
            grid-template-columns: 1fr;
        }
        &__graph {
            grid-column-start: 1;
            grid-column-end: 2;

            padding-left: 0;
            margin-right: -30px;

            &:before{
                width: calc( 100% - 30px );
            }
        }
        &__chat{
            height: auto;
            max-height: unset;
            &-body {
                max-height: 420px;
                overflow: auto;
            }
        }
        &__btns{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .stocks{
        &__container{
            max-width: map-get($map: $container-max-widths, $key: xs);
        }
        &__chat{
            &:after {
                width: 60px;
                height: 60px;
            }
            &-body {
                width: calc(100% - 80px);
            }
        }
        &__message-text{
            font-size: map-get($map: $font-size, $key: sm);
        }
        &__btns{
            grid-gap: $grid-gutter-width/2;
            &--last{
                grid-template-columns: 1fr;
            }
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .stocks{
        background-color: $body-bg-secondary;
        padding-top: 70px;

        &__container{
            max-width: map-get($map: $container-max-widths, $key: xxs);
        }
    
        &__btns{
            margin-top: $spacer-gutter;            
        }
        &__graph{
            margin-left: -10px;
            margin-right: -20px;

            &:before{
                left: 10px;
                width: calc( 100% - 30px );
            }
        }
        &__chat{
            // min-height: 1px;
            height: 260px;

            &-body{
                width: calc(100% - 54px);
            }
            &:after{
                width: 34px;
                height: 34px;
            }
        }
        &__message{
            padding: $spacer-gutter;
        }
        &__message-text{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
}