.form{
    &_inline{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 1fr 340px;

        &__input{
            width: 100%;
        }
    }
    &_modal{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 1fr 1fr 340px;

        &__input{
            width: 100%;
            text-align: center;
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .form{

        &_modal{
            grid-gap: $spacer-gutter;
            grid-template-columns: 1fr 1fr 260px;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .form{
        &_inline{
            grid-template-columns: 1fr 240px;
        }
        &_modal{
            grid-gap: $spacer-gutter;
            grid-template-columns: 1fr;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form{
        &_inline{
            grid-template-columns: 1fr;
            &__input{
                text-align: center;
            }
        }
    }
}