footer.footer.pb-1
    .container 
        .row.justify-content-center
            .col-6.col-lg-3.col-md-12.footer__col-logo
                a.footer__logo(href="/")
                p.footer__copyright © 2021 ITI Capital
            .col-3.col-lg-3.col-md-6.col-sm-12
                p.footer__text АО «ИК «Ай Ти Инвест»
                p.footer__text ИНН 
                    span.text-spacing 7717116241
                    br 
                    | КПП 
                    span.text-spacing 770301001
                    br 
                    | ОКПО 
                    span.text-spacing 54776777
            .col-3.col-lg-6.col-md-6.col-sm-12.footer__col
                p.footer__text Лицензии профессионального участника рынка ценных бумаг, выданы Банком России:
                p.footer__text 
                    a.footer__link(data-fancybox data-src="#licence1" href="javascript;") №&nbsp;045-07516-010000 от&nbsp;17.03.2004 
                    span.footer__text.footer__text_sub на&nbsp;осуществление дилерской деятельности
                p.footer__text 
                    a.footer__link(data-fancybox data-src="#licence2" href="javascript;") №&nbsp;045-07514-100000 от&nbsp;17.03.2004 
                    span.footer__text.footer__text_sub на&nbsp;осуществление брокерской деятельности
                p.footer__text 
                    a.footer__link(data-fancybox data-src="#licence3" href="javascript;") №&nbsp;045-08543-000100 от&nbsp;14.07.2005 
                    span.footer__text.footer__text_sub на&nbsp;осуществление депозитарной деятельности
.modal.modal_licence#licence1
    p.h5 Лицензия профессионального участника рынка ценных бумаг
    p.text-grey № 045-07516-010000 от 17.03.2004 на осуществление дилерской деятельности предоставлена Центральным Банком Российской Федерации (Банком России).
    img.img-fluid(src="./img/045-07516-010000.png" alt="Лицензия профессионального участника рынка ценных бумаг" title="Лицензия профессионального участника рынка ценных бумаг")
.modal.modal_licence#licence2
    p.h5 Лицензия профессионального участника рынка ценных бумаг
    p.text-grey № 045-07514-100000 от 17.03.2004 на осуществление брокерской деятельности предоставлена Центральным Банком Российской Федерации (Банком России).
    img.img-fluid(src="./img/045-07514-100000.png" alt="Лицензия профессионального участника рынка ценных бумаг" title="Лицензия профессионального участника рынка ценных бумаг")
.modal.modal_licence#licence3
    p.h5 Лицензия профессионального участника рынка ценных бумаг
    p.text-grey № 045-08543-000100 от 14.07.2005 на осуществление депозитарной деятельности предоставлена Центральным Банком Российской Федерации (Банком России).
    img.img-fluid(src="./img/045-08543-000100.png" alt="Лицензия профессионального участника рынка ценных бумаг" title="Лицензия профессионального участника рынка ценных бумаг")