footer.footer
    .container 
        .row.justify-content-center
            .col-4
                a.footer__logo(href="/")
                p.footer__copyright © 2021 ITI Capital
            .col-2
                p.footer__text АО «ИК «Ай Ти Инвест»
                p.footer__text ИНН 7717116241
                    br 
                    | КПП 770301001
                    br 
                    | ОКПО 54776777
            .col-2 
                p.footer__text №&nbsp;045-07516-010000 от&nbsp;17.03.2004 на&nbsp;осуществление дилерской деятельности
                p.footer__text №&nbsp;045-07514-100000 от&nbsp;17.03.2004 на&nbsp;осуществление брокерской деятельности
                p.footer__text №&nbsp;045-08543-000100 от&nbsp;14.07.2005 на&nbsp;осуществление депозитарной деятельности
            