.footer{
    // padding: map-get($map: $spacers, $key: 5) 0;

    &__logo{
        width: 220px;
        // 40px
        height: $spacer;
        background: url('../img/logo.svg') no-repeat left center / contain;
    }
    &__copyright{
        margin-top: $spacer-gutter;
        filter: opacity(.5);
    }
    &__text{
        filter: opacity(.5);
    }
    &__disclaimers{
        font-size: map-get($map: $font-size, $key: sm);
        color: $grey;
        filter: opacity(.5);
    }
}