footer.footer
    .container 
        .row.justify-content-center
            .col-6.col-lg-3.col-md-12.footer__col-logo
                a.footer__logo(href="/")
                p.footer__copyright © 2021 ITI Capital
            .col-3.col-lg-3.col-md-6.col-sm-12
                p.footer__text АО «ИК «Ай Ти Инвест»
                p.footer__text.text-spacing ИНН 7717116241
                    br 
                    | КПП 770301001
                    br 
                    | ОКПО 54776777
            .col-3.col-lg-6.col-md-6.col-sm-12.mt-sm-1
                p.footer__text Лицензии профессионального участника рынка ценных бумаг
                p.footer__text 
                    span.text-spacing №&nbsp;045-07516-010000 от&nbsp;17.03.2004 
                    span.footer__text.footer__text_sub на&nbsp;осуществление дилерской деятельности
                p.footer__text 
                    span.text-spacing №&nbsp;045-07514-100000 от&nbsp;17.03.2004 
                    span.footer__text.footer__text_sub на&nbsp;осуществление брокерской деятельности
                p.footer__text 
                    span.text-spacing №&nbsp;045-08543-000100 от&nbsp;14.07.2005 
                    span.footer__text.footer__text_sub на&nbsp;осуществление депозитарной деятельности
            