.heading-screen.heading-screen_step
    .container.heading-screen__container.heading-screen_step__container.heading-screen_step__container_sad
        .row 
            .col-8.col-xl-6.col-lg-8.col-md-7.col-sm-12
                h1.heading-screen__title.heading-screen_step__title Какая боль! Вы могли заработать 
                    span#price(data-status="fail") 150 000 
                    | ₽, вложив совсем немного денег в&nbsp;акции
                a.btn.btn_action(href="try-again.html" data-target="#heading-screen" data-loader="ajax") Попробовать еще раз
                script
                    | window.showLostProfitRur('#price[data-status="fail"]');