extends ../blocks/main.pug

block variables
    - var pageTitle     = "Landing Page"

block content
    section
        .container
            .row
                .col-12.mt-5.mb-5
                    p Landing Page Pre-IPO