extends ../blocks/main.pug

block variables
    - var pageTitle     = "Landing Page"

block content
    include ../items/modal/modal-preipo.pug
    //- include ../items/modal/modal-previpo.pug
    include ../items/modal/modal-soon.pug
    section.heading-screen
        .container
            .heading-screen__description
                h1.heading-screen__title Участвуй в&nbsp;Pre-IPO частных компаний с&nbsp;максимальной доходностью
                a.heading-screen__btn.btn.btn_action(data-trigger="scroll" href="#preipo") Принять участие
                <svg class="heading-screen__tetris heading-screen__tetris_desktop" width="900" height="690" viewBox="0 0 900 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="figure figure_green" x="797" y="386.5" width="94" height="94" rx="37" transform="rotate(-180 797 386.5)" stroke="#F6F1EC" stroke-width="6"/>
                    <rect class="figure figure_yellow" x="703" y="392.5" width="194" height="194" rx="37" stroke="#F6F1EC" stroke-width="6"/>
                    <path class="figure" d="M540 589.5C517.909 589.5 500 571.591 500 549.5L500 529.5C500 507.409 517.909 489.5 540 489.5L560 489.5C582.091 489.5 600 471.591 600 449.5L600 329.5C600 307.409 617.909 289.5 640 289.5L660 289.5C682.091 289.5 700 307.409 700 329.5L700 549.5C700 571.591 682.091 589.5 660 589.5L540 589.5Z" fill="#E96226"/>
                    <path class="figure figure_green" d="M203 429.5C203 409.065 219.565 392.5 240 392.5H260C283.748 392.5 303 373.248 303 349.5V329.5C303 309.065 319.565 292.5 340 292.5H360C380.435 292.5 397 309.065 397 329.5V349.5C397 373.248 416.252 392.5 440 392.5H460C480.435 392.5 497 409.065 497 429.5V449.5C497 469.935 480.435 486.5 460 486.5H240C219.565 486.5 203 469.935 203 449.5V429.5Z" stroke="#F6F1EC" stroke-width="6"/>
                    <rect class="figure figure_blue" x="503" y="592.5" width="394" height="94" rx="37" stroke="#F6F1EC" stroke-width="6"/>
                    <rect class="figure figure_yellow" x="300" y="689.5" width="200" height="200" rx="40" transform="rotate(-90 300 689.5)" fill="#F1BA05"/>
                    <path class="figure figure_orange" d="M140 686.5C119.565 686.5 103 669.935 103 649.5L103 629.5C103 609.065 119.565 592.5 140 592.5L160 592.5C183.748 592.5 203 573.248 203 549.5L203 529.5C203 509.065 219.565 492.5 240 492.5L260 492.5C280.435 492.5 297 509.065 297 529.5L297 649.5C297 669.935 280.435 686.5 260 686.5L140 686.5Z" stroke="#F6F1EC" stroke-width="6"/>
                    <rect class="figure figure_green" x="97" y="686.5" width="94" height="94" rx="37" transform="rotate(-180 97 686.5)" stroke="#F6F1EC" stroke-width="6"/>
                    <path class="figure figure_orange" d="M897 349C897 369.435 880.435 386 860 386L840 386C819.565 386 803 369.435 803 349L803 329C803 305.252 783.748 286 760 286L740 286C719.565 286 703 269.435 703 249L703 229C703 208.565 719.565 192 740 192L860 192C880.435 192 897 208.565 897 229L897 349Z" stroke="#F6F1EC" stroke-width="6"/>
                    <path class="figure_one figure_one-desktop transition" d="M600 255C600 277.091 582.091 295 560 295L540 295C517.909 295 500 277.091 500 255L500 234.83C500 212.739 482.091 194.83 460 194.83L440 194.83C417.909 194.83 400 176.922 400 154.83L400 40C400 17.9086 417.909 -1.62844e-05 440 -1.43531e-05L460 -1.26046e-05C482.091 -1.06733e-05 500 17.9086 500 40L500 54.6604C500 76.7518 517.909 94.6604 540 94.6604L560 94.6604C582.091 94.6604 600 112.569 600 134.66L600 255Z" fill="#597CFB"/>
                </svg>
                <svg class="heading-screen__tetris heading-screen__tetris_mobile" width="500" height="525" viewBox="0 0 500 525" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="figure" x="497" y="322" width="94" height="94" rx="19" transform="rotate(-180 497 322)" fill="#59B165" stroke="#59B165" stroke-width="6"/>
                    <rect class="figure figure_yellow" x="303" y="328" width="194" height="194" rx="19" stroke="#F6F1EC" stroke-width="6"/>
                    <path class="figure figure_green" d="M297 447L297 503C297 513.493 288.493 522 278 522H22C11.5066 522 3 513.493 3 503L3 347C3 336.507 11.5066 328 22 328H78C88.4934 328 97 336.507 97 347L97 403C97 416.807 108.193 428 122 428L278 428C288.493 428 297 436.507 297 447Z" stroke="#F6F1EC" stroke-width="6"/>
                    <path class="figure" d="M2.99999 304L2.99998 248C2.99998 237.507 11.5066 229 22 229L178 229C188.493 229 197 237.507 197 248L197 404C197 414.493 188.493 423 178 423L122 423C111.507 423 103 414.493 103 404L103 348C103 334.193 91.8071 323 78 323L22 323C11.5066 323 2.99999 314.493 2.99999 304Z" fill="#E96226" stroke="#E96226" stroke-width="6"/>
                    <path class="figure_one figure_one-mobile transition" d="M200 273C200 285.15 209.85 295 222 295L278 295C290.15 295 300 285.15 300 273L300 216.83C300 204.68 309.85 194.83 322 194.83L378 194.83C390.15 194.83 400 184.98 400 172.83L400 22C400 9.84973 390.15 -1.69889e-05 378 -1.59267e-05L322 -1.1031e-05C309.85 -9.96879e-06 300 9.84972 300 22L300 72.6604C300 84.8107 290.15 94.6604 278 94.6604L222 94.6604C209.85 94.6604 200 104.51 200 116.66L200 273Z" fill="#597CFB"/>
                </svg>
    section.content.pt-lg-2.pt-3#preipo
        .container.mb-1.mb-xs-1
            p.h4.text-center Текущие Pre-IPO
        .container.content__slider
            .content__grid.content__slider-wrapper
                .content__slider-slide
                    .item.item_preipo(data-fancybox="company1" data-src="#modal1")
                        .item__open-modal.item_preipo__open-modal
                            svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M9 0C8.44771 0 8 0.447716 8 1V8L1 8C0.447715 8 0 8.44771 0 9C0 9.55228 0.447716 10 1 10H8V17C8 17.5523 8.44771 18 9 18C9.55229 18 10 17.5523 10 17V10H17C17.5523 10 18 9.55229 18 9C18 8.44771 17.5523 8 17 8L10 8V1C10 0.447715 9.55229 0 9 0Z")
                        .item__description
                            .item__logo.item_preipo__logo(style="background-image:url('img/logo-OCSiAl.svg');")
                            .item__title OCSiAl
                            .item__subtitle Мировой монополист в&nbsp;сфере производства графеновых нанотрубок
                        .item__footer
                            .item__statistics
                                .item__statistics-title Стоимость компании
                                .item__statistics-value  $1.9+ млрд
                                .item__statistics-title Ожидаемая доходность
                                .item__statistics-value 73-514%
                                .item__statistics-title Срок инвестиций
                                .item__statistics-value 9-36 месяцев
                            .item_preipo__btn.btn.btn_action Принять участие
                .content__slider-slide
                    .item.item_preipo(data-fancybox="company2" data-src="#modal1")
                        .item__open-modal.item_preipo__open-modal
                            svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M9 0C8.44771 0 8 0.447716 8 1V8L1 8C0.447715 8 0 8.44771 0 9C0 9.55228 0.447716 10 1 10H8V17C8 17.5523 8.44771 18 9 18C9.55229 18 10 17.5523 10 17V10H17C17.5523 10 18 9.55229 18 9C18 8.44771 17.5523 8 17 8L10 8V1C10 0.447715 9.55229 0 9 0Z")
                        .item__description
                            .item__logo.item_preipo__logo(style="background-image:url('img/logo-Airbnb.svg');")
                            .item__title Airbnb
                            .item__subtitle Сервис онлайн аренды частного жилья по&nbsp;всему миру
                        .item__footer
                            .item__statistics
                                .item__statistics-title Стоимость компании
                                .item__statistics-value  $1.9+ млрд
                                .item__statistics-title Ожидаемая доходность
                                .item__statistics-value 73-514%
                                .item__statistics-title Срок инвестиций
                                .item__statistics-value 9-36 месяцев
                            .item_preipo__btn.btn.btn_action Принять участие
                .content__slider-slide
                    .item.item_preipo-soon(data-fancybox="soon" data-src="#modal3")
                        .item__description
                            .item__open-modal.item_preipo-soon__open-modal
                                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M8.61501 1.9967e-07C8.44152 -0.000126342 8.27335 0.0598978 8.13915 0.169848C8.00495 0.279799 7.91301 0.432874 7.87901 0.603L7.73701 1.315C7.69391 1.52941 7.60445 1.73181 7.4749 1.90801C7.34534 2.0842 7.17882 2.22994 6.98701 2.335L6.68701 2.5C5.806 2.90057 5.04418 3.52316 4.4762 4.30676C3.90822 5.09036 3.55357 6.00809 3.44701 6.97L2.90701 11.834C2.8572 12.2821 2.71809 12.7158 2.4979 13.1093C2.27771 13.5028 1.9809 13.8481 1.62501 14.125L1.27101 14.4C1.04156 14.5785 0.868942 14.8199 0.774138 15.0947C0.679334 15.3695 0.666435 15.666 0.73701 15.948L0.75001 16C0.89701 16.588 1.42501 17 2.03001 17H15.97C16.2643 16.9999 16.5501 16.9014 16.782 16.7202C17.0139 16.539 17.1787 16.2855 17.25 16L17.263 15.948C17.3336 15.666 17.3207 15.3695 17.2259 15.0947C17.1311 14.8199 16.9585 14.5785 16.729 14.4L16.375 14.125C16.0191 13.8481 15.7223 13.5028 15.5021 13.1093C15.2819 12.7158 15.1428 12.2821 15.093 11.834L14.553 6.969C14.4463 6.00726 14.0916 5.08975 13.5236 4.30633C12.9556 3.52292 12.1939 2.90048 11.313 2.5L11.013 2.336C10.8211 2.23083 10.6545 2.08494 10.5249 1.90856C10.3954 1.73219 10.306 1.52959 10.263 1.315L10.121 0.603C10.087 0.432874 9.99507 0.279799 9.86087 0.169848C9.72667 0.0598978 9.5585 -0.000126342 9.38501 1.9967e-07H8.61501ZM14.9 15C13.505 14.15 13.227 13.154 13.105 12.054L12.565 7.19C12.4695 6.31121 12.0527 5.49866 11.3948 4.90834C10.7368 4.31802 9.88398 3.99152 9.00001 3.99152C8.11604 3.99152 7.26322 4.31802 6.60525 4.90834C5.94728 5.49866 5.53054 6.31121 5.43501 7.19L4.89501 12.054C4.77301 13.154 4.49901 14.15 3.10001 15H14.9Z")
                            .item__logo.item_preipo-soon__logo
                            .item__title Скоро
                            .item__subtitle Мы ожидаем информацию о&nbsp;следующей компании в&nbsp;ближайшее время
                        .item__footer
                            .item_preipo-soon__btn.btn.btn_secondary Получить уведомление
    section.content.pt-md-2.pt-3#prevpreipo
        .container.mb-1.mb-xs-1
            p.h4.text-center Прошедшие Pre-IPO
        .container.content__slider
            .content__grid.content__slider-wrapper
                .content__slider-slide
                    .item.item_preipo-prev
                        .item__description
                            .item__logo.item_preipo-prev__logo(style="background-image:url('img/logo-Coursera.svg');")
                            .item__title Coursera
                            .item__subtitle Платформа для&nbsp;онлайн образования с&nbsp;десятками миллионов пользователей 
                                | по&nbsp;всему миру
                        .item__footer
                            .item__statistics
                                .item__statistics-title Оценка входа
                                .item__statistics-value $11.2 mln
                                .item__statistics-title Текущая оценка
                                .item__statistics-value $64.8 mln
                            .item__statistics.item_preipo-prev__total 
                                .item__statistics-title Доходность
                                .item__statistics-value 194%
                .content__slider-slide
                    .item.item_preipo-prev
                        .item__description
                            .item__logo(style="background-image:url('img/logo-Snowflake.svg');")
                            .item__title Snowflake
                            .item__subtitle Платформа, предоставляющая облачную инфраструктуру для&nbsp;управления данными
                        .item__footer
                            .item__statistics
                                .item__statistics-title Оценка входа
                                .item__statistics-value $11.2 mln
                                .item__statistics-title Текущая оценка
                                .item__statistics-value $64.8 mln
                            .item__statistics.item_preipo-prev__total 
                                .item__statistics-title Доходность
                                .item__statistics-value 194%
                .content__slider-slide
                    .item.item_preipo-prev
                        .item__description
                            .item__logo(style="background-image:url('img/logo-Unity.svg');")
                            .item__title Unity
                            .item__subtitle Мультиплатформенные инструменты и&nbsp;услуги для&nbsp;разработчиков интерактивного контента
                        .item__footer
                            .item__statistics
                                .item__statistics-title Оценка входа
                                .item__statistics-value $11.2 mln
                                .item__statistics-title Текущая оценка
                                .item__statistics-value $64.8 mln
                            .item__statistics.item_preipo-prev__total 
                                .item__statistics-title Доходность
                                .item__statistics-value 194%
    section.content.pt-md-3.pt-5#about
        .container.text-center.pb-3.pb-lg-2
            p.h4 Что такое Pre-IPO
            p.h1.content__title Pre-Initial Public Offering
            .row.justify-content-center
                .col-8.col-lg-12
                    p.content__intro.content__intro_about Это&nbsp;инвестиции в&nbsp;частные компании за&nbsp;1-3 года перед выходом 
                        | на&nbsp;биржу со&nbsp;100% аллокацией и&nbsp;чаще всего по&nbsp;более низкой цене, 
                        | чем&nbsp;непосредственно перед IPO
        .container.content__slider
            .content__grid.content__slider-wrapper
                .content__slider-slide
                    .item.item_info
                        p.item__title.item_info__title Участие в Pre-IPO
                        p.item__intro Участие в&nbsp;Pre-IPO гарантирует 100%-ную аллокацию, в&nbsp;отличие от&nbsp;IPO. 
                            | Кроме того, Pre-IPO дает большую доходность. Есть, однако, и&nbsp;обратная сторона медали: 
                            | уровень неопределённости больше, тогда как&nbsp;ликвидность меньше (перед выходом компании 
                            | на&nbsp;открытый рынок)
                .content__slider-slide
                    .item.item_info
                        p.item__title.item_info__title Риски
                        p.item__intro По&nbsp;уровню рисков инвестиции в&nbsp;Pre-IPO находятся где-то между венчурными 
                        | инвестициями и&nbsp;инвестициями в&nbsp;фондовый рынок. В&nbsp;первом случае риски 
                        | и&nbsp;сопутствующая доходность очень велики. Достаточно часто венчурные инвестиции 
                        | не&nbsp;приводят к&nbsp;прибыли
                .content__slider-slide
                    .item.item_info
                        p.item__title.item_info__title Биржа
                        p.item__intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam enim purus nisl sit ultricies aliquet. Amet cras pretium odio odio egestas tortor lobortis commodo, justo. Duis ultrices condimentum mauris, lobortis imperdiet lorem id sed ultricies. Netus non lacus odio egestas amet scelerisque nunc.
    section.content.pt-md-2.pt-3
        .container 
            p.h4.text-center Процесс инвестирования в&nbsp;Pre&#8209;IPO
            .content__steps 
                .step
                    .step__num 1
                    .step__intro Начало Pre&#8209;IPO компании
                .step
                    .step__num 2
                    .step__intro Сбор заявок и&nbsp;выкуп акций ITI&#8209;Prime
                .step
                    .step__num 3
                    .step__intro Подготовка и&nbsp;выход компании на&nbsp;IPO (6&#8209;12 месяцев)
                .step
                    .step__num 4
                    .step__intro Ожидание Lock&#8209;up периода (от&nbsp;3&#8209;х месяцев)
                .step.step_last
                    .step__num 5
                    .step__intro Продажа акций ITI&#8209;Prime по&nbsp;поручению клиента. Выплата денежного эквивалента
    section.content.pt-xs-2.pt-md-3.pt-5#work
        .container
            p.h1.content__title.text-center Как мы работаем
            .row.justify-content-center.text-center
                .col-10.col-lg-12
                    p.content__intro.content__intro_work Наши аналитики отбирают 10-15 наиболее перспективных из&nbsp;100-200 компаний, 
                        | статус которых дает основание полагать, что&nbsp;компания в&nbsp;скором времени может выйти 
                        | на&nbsp;IPO, тщательно изучают финансовые показатели компании, перспективы и&nbsp;точки роста, 
                        | а&nbsp;также&nbsp;конъюнктуру отрасли на&nbsp;данный момент.
            .content__stats.mt-md-2.mt-3
                .content__stats-item 
                    .content__stats-title Минимальный порог входа
                    .content__stats-value $10 000
                .content__stats-item 
                    .content__stats-title Ожидаемая доходность
                    .content__stats-value 60 – 480%
                .content__stats-item 
                    .content__stats-title Срок инвестирования
                    .content__stats-value от 9 до 36 месяцев
                .content__stats-item 
                    .content__stats-title Lock-up период
                    .content__stats-value от 0 до 3 месяцев
                .content__stats-item 
                    .content__stats-title Комиссия
                    .content__stats-value 5%
    section.content.pt-xs-2.pt-md-3.pt-5
        .container
            p.h1.content__title.text-center ITI Capital
            .row.justify-content-center.text-center
                .col-10.col-lg-12
                    p.content__intro Лидер на рынке финансовых услуг с&nbsp;2000&nbsp;года
            .content__grid.content__grid_advantage.mt-2.mt-xs-1
                .advantage
                    .advantage__icon 
                        <svg width="67" height="51" viewBox="0 0 67 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.1537 22.5983C56.455 21.994 59.7665 18.3063 59.7757 13.8386C59.7757 9.43557 56.566 5.78491 52.3572 5.09424" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M57.8296 32.9385C61.9951 33.5613 64.9027 35.0197 64.9027 38.026C64.9027 40.0949 63.5337 41.4392 61.3199 42.2841" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.6507 34.2134C23.7408 34.2134 15.2771 35.715 15.2771 41.712C15.2771 47.706 23.6884 49.2508 33.6507 49.2508C43.5605 49.2508 52.0212 47.7646 52.0212 41.7645C52.0212 35.7643 43.6129 34.2134 33.6507 34.2134Z" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.6507 25.6545C40.1534 25.6545 45.4259 20.3851 45.4259 13.8793C45.4259 7.3765 40.1534 2.104 33.6507 2.104C27.1479 2.104 21.8754 7.3765 21.8754 13.8793C21.8508 20.3604 27.0832 25.6329 33.5643 25.6545H33.6507Z" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M15.1448 22.5983C10.8405 21.994 7.53208 18.3063 7.52283 13.8386C7.52283 9.43557 10.7326 5.78491 14.9413 5.09424" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9.46871 32.9385C5.30312 33.5613 2.39554 35.0197 2.39554 38.026C2.39554 40.0949 3.76454 41.4392 5.97837 42.2841" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    .advantage__title 62 000
                    .advantage__intro Постоянных клиентов
                .advantage
                    .advantage__icon 
                        <svg width="62" height="61" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M50.0855 10.4346C55.2964 10.4346 59.4897 14.6587 59.4897 19.8696V30.4762C51.9047 34.9162 41.8839 37.5987 30.9689 37.5987C20.0539 37.5987 10.0639 34.9162 2.47888 30.4762V19.8387C2.47888 14.6279 6.70305 10.4346 11.9139 10.4346H50.0855Z" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M41.7766 10.4212V9.29268C41.7766 5.53102 38.7241 2.47852 34.9624 2.47852H27.0074C23.2457 2.47852 20.1932 5.53102 20.1932 9.29268V10.4212" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M2.55444 41.7393L3.13719 49.4753C3.53186 54.6893 7.87628 58.7192 13.1025 58.7192H48.8661C54.0924 58.7192 58.4368 54.6893 58.8314 49.4753L59.4142 41.7393" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    .advantage__title $232 млрд
                    .advantage__intro Оборот в год по всем рынкам
                .advantage
                    .advantage__icon 
                        <svg width="52" height="63" viewBox="0 0 52 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9523 60.6183C25.9523 60.6183 49.6076 53.4557 49.6076 33.7101C49.6076 13.9613 50.4648 12.4197 48.5685 10.5203C46.6692 8.621 29.0541 2.479 25.9523 2.479C22.8504 2.479 5.23533 8.621 3.33908 10.5203C1.43975 12.4197 2.29692 13.9613 2.29692 33.7101C2.29692 53.4557 25.9523 60.6183 25.9523 60.6183Z" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M17.9399 30.6132L23.7736 36.4562L35.7924 24.4312" stroke="#597CFB" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    .advantage__title 21 год
                    .advantage__intro На финансовом рынке
    section.content.pt-sm-2.pt-md-3.pt-5
        .container
            .row.justify-content-center.text-center
                .col-8.col-lg-10
                    p.content__intro Оставьте заявку, чтобы подробнее узнать про&nbsp;условия. Наш&nbsp;консультат свяжется с&nbsp;вами в&nbsp;ближайшее время
                .col-10.col-lg-12.mt-1
                    .form.form_callback
                        input.input.form_callback__input(type="text", name="name",placeholder="Вашe имя")
                        input.input.form_callback__input(type="tel", name="phone",placeholder="Номер телефона")
                        button.form_callback__btn.btn.btn_action(type="submit") Принять участие
    section.footer.pt-sm-2.pt-md-3.pb-md-1.pt-5.pb-3
        .container
            p.footer__disclaimers Источник информации о&nbsp;доходности — компания ITI Capital. Представленная 
                | в&nbsp;настоящем документе информация подготовлена АО&nbsp;«ИК&nbsp;«Ай&nbsp;Ти&nbsp;Инвест» 
                | (далее — Компания, лицензия профессионального участника рынка ценных бумаг №&nbsp;045-07514-100000 
                | от&nbsp;17.03.2004 на&nbsp;осуществление брокерской деятельности предоставлена Банком России) 
                | и&nbsp;предназначена исключительно для ознакомления.
                | Материалы, предоставленные Компанией, основаны на&nbsp;информации, полученной из&nbsp;открытых источников, 
                | которые рассматриваются Компанией как надежные. Компания не&nbsp;имеет возможности провести должную проверку 
                | такой информации и&nbsp;не&nbsp;несет ответственности за&nbsp;точность, полноту и&nbsp;достоверность материалов, 
                | предоставленных Компанией. При принятии инвестиционных решений инвестор должен провести собственный анализ 
                | финансового положения эмитента, процентных ставок, доходности и&nbsp;всех рисков, связанных с&nbsp;инвестированием 
                | в&nbsp;ценные бумаги и&nbsp;другие финансовые инструменты и&nbsp;при&nbsp;необходимости воспользоваться услугами 
                | финансовых, юридических и&nbsp;иных&nbsp;консультантов.
                | Стоимость инвестиций может как&nbsp;снижаться, так и&nbsp;повышаться, и&nbsp;инвестор может потерять первоначально 
                | инвестированную сумму. Доходность в&nbsp;прошлом не&nbsp;гарантирует доходности в&nbsp;будущем. Материалы 
                | и&nbsp;сведения, предоставленные Компанией, носят исключительно информационный характер, предназначены для&nbsp;лиц, 
                | которые вправе получать такие материалы и&nbsp;сведения, и&nbsp;не&nbsp;должны рассматриваться как заверение 
                | об&nbsp;обстоятельствах, имеющих значение для&nbsp;заключения, исполнения или&nbsp;прекращения какой-либо сделки.
                | Настоящий документ, включая любые его&nbsp;части и&nbsp;отдельные положения настоящего документа, не&nbsp;могут 
                | рассматриваться в&nbsp;качестве оферты (включая публичную оферту), приглашения делать оферты,
                | коммерческого намерения Компании заключить сделку на&nbsp;условиях, изложенных в&nbsp;документе, а&nbsp;также 
                | гарантий Компании в&nbsp;отношении последствий заключения какой-либо сделки и/или&nbsp;использования какого-либо 
                | инструмента.
                | Представленная информация не&nbsp;является индивидуальной инвестиционной рекомендацией, не&nbsp;является формой 
                | выражения мнения Компании и/или&nbsp;ее&nbsp;сотрудников о&nbsp;том, отвечает ли&nbsp;конкретная ценная бумага 
                | или&nbsp;финансовый инструмент вашим финансовым и/или&nbsp;иным интересам. Определение соответствия финансового 
                | инструмента либо операции инвестиционным целям, инвестиционному горизонту и&nbsp;толерантности к&nbsp;риску является 
                | задачей инвестора. Компания не&nbsp;несет ответственности за&nbsp;возможные убытки инвестора в&nbsp;случае совершения 
                | операций, либо инвестирования в&nbsp;финансовые инструменты, упомянутые в&nbsp;данных материалах. Настоящий документ, 
                | включая любые его части и&nbsp;положения, а&nbsp;также любые комментарии Компании и&nbsp;ее&nbsp;работников 
                | в&nbsp;отношении данного документа не&nbsp;могут рассматриваться в&nbsp;качестве консультации, совета, разъяснений 
                | Компании в&nbsp;отношении рассматриваемого или&nbsp;любых других финансовых инструментов и&nbsp;сделок.
                | Любое использование информации, представленной в&nbsp;данном документе, включая любые части/разделы документа, 
                | допускается только на&nbsp;собственный страх и&nbsp;риск пользователя. Любое копирование и&nbsp;воспроизведение 
                | информации, представленной в&nbsp;данном документе, как в&nbsp;устной, так и&nbsp;в&nbsp;письменной форме, 
                | допускается только при условии предварительного разрешения (согласия) Компании. Представленная информация 
                | и&nbsp;мнения подлежат изменению без&nbsp;уведомления получателей данной информации и&nbsp; мнений. Представленная 
                | информация не&nbsp;является персональной инвестиционной рекомендацией. Не&nbsp;является рекламой ценных бумаг 
                | и&nbsp;иных финансовых инструментов. Продукт только для&nbsp;квалифицированных инвесторов.