.heading-screen.heading-screen_step
    .container.heading-screen__container.heading-screen_step__container.heading-screen_step__container_result
        .row
            .col-6.col-xl-6.col-lg-7.col-md-7.col-sm-12
                h1.heading-screen__title Вы подождали 
                    span#yearsinterval 3 года 
                    |  и заработали 
                    span#price(data-status="result") 150 000 
                    | ₽
                p.heading-screen__content.mb-4.mb-xl-2 Теперь вы готовы к&nbsp;открытию брокерского счета. Заполните форму 
                    | ниже и&nbsp;мы с&nbsp;вами свяжемся в&nbsp;ближайшее время
                form.form.form_column.heading-screen__form(action="")
                    input.input.form_column__input(type="text", name="",placeholder="Ваше имя")
                    input.input.form_column__input(type="tel", name="",placeholder="Ваш номер телефона")
                    a.btn.btn_action.form_column__btn(href="subscribe.html") Отправить заявку
                    //- button.btn.btn_action.form_column__btn(type="submit") Отправить заявку
script
   | window.showResults('#yearsinterval', '#price[data-status="result"]');
