.heading-screen_step{
    overflow-x: clip;
    // min-height: 100vh;
    background-color: $body-bg-secondary;

    &__container{
        padding-top: 220px;
        justify-content: flex-start;
        // padding-bottom: 320px;
        // min-height: 900px;
        background: none;

        &:before{
            content: '';
            position: absolute;
            left: auto;
            right: -100px;
            bottom: 0;
            z-index: 0;
            
            width: 860px;
            height: 800px;
            background: url('../img/bg-figure.svg') no-repeat center bottom / contain;
            background-position-y: calc(100% + 140px);
        }

        &:after{
            left: auto;
            right: -(map-get($map: $spacers, $key: 5));
            transform: translateX(0);

            height: 810px;
        }

        &_sad{
            &:after{
                width: 630px;
                background: url('../img/business-man-sad.png') no-repeat center bottom / contain;
            }
        }
        &_success{
            &:after{
                width: 580px;
                background: url('../img/business-man-success.png') no-repeat center bottom / contain;
            }
        }
        &_result{
            &:after{
                width: 650px;
                background: url('../img/business-man-result.png') no-repeat center bottom / contain;
            }
        }
        &_subscribe{
            &:after{
                width: 650px;
                background: url('../img/business-man-subscribe.png') no-repeat center bottom / contain;
            }
        }
    }
    &__card{
        grid-template-columns: repeat(2, 320px);
    }
    &__intro{
        width: 100%;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .heading-screen_step{
        &__container{
            padding-top: 200px;
            // min-height: 720px;

            &:before{
                width: 720px;
                height: 680px;
            }
            &:after{
                height: 620px;
            }
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .heading-screen_step{
        &__container{
            padding-top: 120px;
            padding-bottom: 100px;
            // min-height: 1px;
            max-width: map-get($map: $container-max-widths, $key: lg);

            &:before{
                height: 420px;

                background-size: cover;
                background-position-y: top;

                right: -160px;
            }
            &:after{
                width: 700px;
                height: 100%;

                background-size: 360px;
                background-position-y: bottom;

                // right: -260px;
                right: -180px;
            }

            &_sad{
                padding-top: 140px;
            }
            &_result{
                &:before{
                    right: -280px;
                }
                &:after {
                    width: 500px;
                    background-size: 420px;
                }
            }
            &_subscribe{
                &:after{
                    width: 600px;
                    background-size: 420px;
                }
            }
        }
        &__title{
            margin-bottom: map-get($map: $spacers, $key: 2);
        }
        &__card{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .heading-screen_step{
        &__container{
            padding-top: 100px;
            max-width: map-get($map: $container-max-widths, $key: md);

            &:before{
                height: 340px;
                right: -160px;
                width: 600px;
            }
            &:after{
                width: 580px;
                background-size: 420px;
                background-position-y: bottom;
                right: -240px;
            }

            &_subscribe{
                &:after{
                    background-size: 440px;
                }
            }
        }
        &__title{
            font-size: map-get($map: $heading, $key: h4);
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__intro{
            margin-bottom: $spacer;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .heading-screen_step{
        background-size: 480px;

        &__container{
            padding-bottom: 0;
            padding-top: map-get($map: $spacers, $key: 5);
            // padding-top: 0;
            max-width: map-get($map: $container-max-widths, $key: sm);
            justify-content: space-between;

            &:before{
                display: none;
            }
            &:after{
                display: block;
                position: unset;
                // height: 480px;
                // width: 500px;

                height: 440px;
                width: 400px;
                background-size: 340px;
                background-position-y: 20px;

                margin-top: -(map-get($map: $spacers, $key: 4));
            }
        }
        &__title{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .heading-screen_step{
        &__container{
            max-width: map-get($map: $container-max-widths, $key: xs);
            &:after{
                height: 440px;
            }
        }
        &__card{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .heading-screen_step{
        &__container{
            max-width: map-get($map: $container-max-widths, $key: xxs);
            padding-top: map-get($map: $spacers, $key: 5);
            // padding-top: map-get($map: $spacers, $key: 1);
            
            &:after{
                background-size: contain;
                background-position-y: bottom;
                background-position-x: right;
                width: 100%;
            }
        }
        &__card{
            grid-template-columns: 1fr;
        }
    }
}