.heading-screen{
    position: relative;
    // 60px 0 160px
    padding: map-get($map: $spacers, $key: 4) 0 160px;
    background: #181933 url('../img/bg-figure.svg') no-repeat center bottom / 800px;

    &:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 0;

        transform: translateX(-50%);

        width: 550px;
        height: 570px;
        background: url('../img/business-man.png') no-repeat center bottom / contain;
    }

    &__title{
        position: relative;
        z-index: 2;

        width: 720px;
        max-width: 100%;

        text-align: center;
        margin: 0 auto map-get($map: $spacers, $key: 2);
    }
    &__intro{
        position: relative;
        z-index: 2;

        width: 990px;
        max-width: 100%;

        text-align: center;
        line-height: $line-height-base;
        margin: 0 auto map-get($map: $spacers, $key: 5);
    }
    &__change{
        display: flex;
        flex-direction: row;
        align-items: center;

        text-align: center;
        color: $grey;

        &-title{
            padding-left: $spacer-gutter;
            padding-right: $spacer-gutter;
        }
        &-icon{
            fill: $grey;
            transition: .3s;
        }

        &:hover, &:focus{
            color: $light-grey;
            text-decoration: none;

            .heading-screen__change-icon{
                fill: $light-grey;
            }
        }

        &_reverse{
            flex-direction: row-reverse;
        }
    }
    
    &__row{
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;

        width: 1400px;
        max-width: 100%;
        margin: 0 auto;
    }
    &__col{
        text-align: center;
    }
    &__card{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-columns: 1fr 1fr;

        padding: map-get($map: $spacers, $key: 1) 0 map-get($map: $spacers, $key: 2);
    }
}