.grid{
    display: grid;

    &_stocks{
        grid-gap: map-get($map: $spacers, $key: 4);
        grid-template-columns: 1fr 450px;
        // align-items: flex-end;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .grid{
        &_stocks{
            grid-template-columns: 1fr 400px;
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .grid{
        &_stocks{
            grid-template-columns: 1fr;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .grid{
        &_stocks{
            grid-gap: map-get($map: $spacers, $key: 3);
        }
    }
}