.step{
    &__num{
        font-size: 100px;
        font-weight: $font-weight-bolder;
        line-height: 1;
        margin-bottom: $spacer;
        color: $action;
    }
    &__intro{
        font-size: map-get($map: $heading, $key: h5);
        white-space: break-spaces;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .step{
        &__intro{
            font-size: map-get($map: $heading, $key: h6);
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .step{
        &__num{
            margin-bottom: $spacer/2;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .step{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 40px 1fr;

        &__num{
            font-size: 56px;
            margin-bottom: 0;
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: md);
        }

        &_last{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .step{
        align-items: center;
        grid-gap: $spacer/2;

        &__num{
            text-align: center;
        }

        &_last{
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}