- var advantages    = [{"icon":"./icon/icon-client.svg","title":"62 000","intro":"постоянных клиентов"},{"icon":"./icon/icon-market.svg","title":"$232 млрд","intro":"оборот по всем рынкам"},{"icon":"./icon/icon-security.svg","title":"21 год","intro":"на финансовом рынке"}]
mixin advantageItem(object)
    .item.item_advantage
        .item_advantage__icon
            img.img-fluid(src=object.icon)
        .item_advantage__title=object.title
        .item_advantage__intro=object.intro
section.advantage 
    .container 
        .row.justify-content-between.justify-content-sm-center.align-items-center.align-items-lg-start
            .col-6.col-lg-6.col-sm-10.col-xs-12.mb-sm-3.text-sm-center
                h2.advantage__title.mb-4.mb-lg-3.mb-sm-1 Подбираем качественные инструменты для&nbsp;инвестирования. 
                    | Вы&nbsp;выбираете подходящий, мы&nbsp;следим за&nbsp;ситуацией на&nbsp;рынке и&nbsp;вносим 
                    | нужные изменения для&nbsp;вашей выгоды.
                a.btn.btn_action(href="#callback" data-trigger="scroll") Заказать обратный звонок                    
            .col-5.col-lg-6.col-sm-12.advantage__items
                for object in advantages
                    +advantageItem(object)
    .advantage__figure
    .advantage__figure-mobile
section
    //- Service
    .container
        p.h1.text-center.mb-4.mb-xl-3.mb-xs-2 Продукты для наших клиентов
        .row.product
            <svg class="product__figure" width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.5" d="M746.193 1.50058C777.95 -7.00846 807.008 22.0504 798.499 53.8065L607.046 768.32C598.537 800.076 558.842 810.712 535.595 787.465L12.535 264.405C-10.7121 241.158 -0.0757677 201.463 31.6804 192.954L746.193 1.50058Z" fill="url(#paint_linear_triagle)"/>
                <defs>
                    <linearGradient id="paint_linear_triagle" x1="1067.29" y1="-584.809" x2="1061.44" y2="1102.73" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#13A8FC"/>
                        <stop offset="1" stop-color="#00FFC2"/>
                    </linearGradient>
                </defs>
            </svg>
            .product__col
                //- .col-4.col-md-6.col-sm-12.mb-md-2
                .item.item_service
                    img.item_service__icon.img-fluid(src="./icon/icon-figure-1.svg")
                    p.item_service__title Доверительное управление
                    p.item_service__intro Вы передаёте ценные бумаги или&nbsp;денежные средства профессиональному управляющему 
                        | — мы совершаем операции с&nbsp;активами и&nbsp;получаем прибыль для&nbsp;вас. Формируем 
                        | сбалансированный портфель ценных бумаг и&nbsp;ребалансируем его&nbsp;состав в&nbsp;зависимости 
                        | от&nbsp;состояния рынка для&nbsp;достижения целевой доходности продукта.
            .product__col
                //- .col-4.col-md-6.col-sm-12.mb-md-2
                .item.item_service
                    img.item_service__icon.img-fluid(src="./icon/icon-figure-2.svg")
                    p.item_service__title Модельные портфели
                    p.item_service__intro Готовые наборы инструментов для&nbsp;тех, кто не&nbsp;готов погружаться в&nbsp;тонкости 
                        | торговли на&nbsp;фондовом рынке. Опирайтесь на&nbsp;опыт и&nbsp;знания аналитиков ITI Capital 
                        | и&nbsp;выгодно инвестируйте в&nbsp;ценные бумаги. Используйте готовые инвестпортфели, отобранные 
                        | по&nbsp;определённым признакам — мы следим за&nbsp;ситуацией на&nbsp;рынке и&nbsp;при необходимости 
                        | обновляем&nbsp;их.
            .product__col
                //- .col-4.col-md-6.col-sm-12
                .item.item_service
                    img.item_service__icon.img-fluid(src="./icon/icon-figure-3.svg")
                    p.item_service__title Торговые идеи
                    p.item_service__intro Сервис для&nbsp;начинающих инвесторов. Наши аналитики создают идеи 
                        | для&nbsp;инвестирования в&nbsp;ценные бумаги ведущих российских и&nbsp;зарубежных компаний. 
                        | Вы наблюдаете за&nbsp;рынком, а&nbsp;сервис подскажет, как избежать убытков или&nbsp;когда 
                        | зафиксировать прибыль.
    //- CTA Form
    .container.cta-block-container#callback
        .cta-block
            .cta-block__container
                p.h1.cta-block__title.mb-1 Хотите узнать о нас больше?
                p.cta-block__intro Оставляйте нам свой номер телефона, мы перезвоним и все расскажем
                form.form.form_column.cta-block__form(action="")
                    //- input.input.form_column__input(type="text", name="name",placeholder="Ваше имя")
                    //- input.input.form_column__input(type="text", name="mail",placeholder="E-mail")
                    input.input.form_column__input(type="tel", name="",placeholder="Ваш номер телефона")
                    button.btn.btn_secondary.form_column__btn(type="submit") Отправить
                img.cta-block__img(src="./img/business-girl.png" alt="" title="")
    //- Text
    .container.footer.footer_disclaimers
        p.footer__disclaimers
            | Источник информации о&nbsp;доходности — компания ITI Capital. Представленная в&nbsp;настоящем документе информация подготовлена АО&nbsp;«ИК&nbsp;«Ай&nbsp;Ти&nbsp;Инвест» 
            | (далее — Компания, лицензия профессионального участника рынка ценных бумаг №&nbsp;045-07514-100000 
            | от&nbsp;17.03.2004 на&nbsp;осуществление брокерской деятельности предоставлена Банком России) 
            | и&nbsp;предназначена исключительно для ознакомления.
            | Материалы, предоставленные Компанией, основаны на&nbsp;информации, полученной из&nbsp;открытых источников, 
            | которые рассматриваются Компанией как надежные. Компания не&nbsp;имеет возможности провести должную проверку 
            | такой информации и&nbsp;не&nbsp;несет ответственности за&nbsp;точность, полноту и&nbsp;достоверность материалов, 
            | предоставленных Компанией. При принятии инвестиционных решений инвестор должен провести собственный анализ 
            | финансового положения эмитента, процентных ставок, доходности и&nbsp;всех рисков, связанных с&nbsp;инвестированием 
            | в&nbsp;ценные бумаги и&nbsp;другие финансовые инструменты и&nbsp;при&nbsp;необходимости воспользоваться услугами 
            | финансовых, юридических и&nbsp;иных&nbsp;консультантов.
            | Стоимость инвестиций может как&nbsp;снижаться, так и&nbsp;повышаться, и&nbsp;инвестор может потерять первоначально 
            | инвестированную сумму. Доходность в&nbsp;прошлом не&nbsp;гарантирует доходности в&nbsp;будущем. Материалы 
            | и&nbsp;сведения, предоставленные Компанией, носят исключительно информационный характер, предназначены для&nbsp;лиц, 
            | которые вправе получать такие материалы и&nbsp;сведения, и&nbsp;не&nbsp;должны рассматриваться как заверение 
            | об&nbsp;обстоятельствах, имеющих значение для&nbsp;заключения, исполнения или&nbsp;прекращения какой-либо сделки.
            | Настоящий документ, включая любые его&nbsp;части и&nbsp;отдельные положения настоящего документа, не&nbsp;могут 
            | рассматриваться в&nbsp;качестве оферты (включая публичную оферту), приглашения делать оферты,
            | коммерческого намерения Компании заключить сделку на&nbsp;условиях, изложенных в&nbsp;документе, а&nbsp;также 
            | гарантий Компании в&nbsp;отношении последствий заключения какой-либо сделки и/или&nbsp;использования какого-либо 
            | инструмента.
            | Представленная информация не&nbsp;является индивидуальной инвестиционной рекомендацией, не&nbsp;является формой 
            | выражения мнения Компании и/или&nbsp;ее&nbsp;сотрудников о&nbsp;том, отвечает ли&nbsp;конкретная ценная бумага 
            | или&nbsp;финансовый инструмент вашим финансовым и/или&nbsp;иным интересам. Определение соответствия финансового 
            | инструмента либо операции инвестиционным целям, инвестиционному горизонту и&nbsp;толерантности к&nbsp;риску является 
            | задачей инвестора. Компания не&nbsp;несет ответственности за&nbsp;возможные убытки инвестора в&nbsp;случае совершения 
            | операций, либо инвестирования в&nbsp;финансовые инструменты, упомянутые в&nbsp;данных материалах. Настоящий документ, 
            | включая любые его части и&nbsp;положения, а&nbsp;также любые комментарии Компании и&nbsp;ее&nbsp;работников 
            | в&nbsp;отношении данного документа не&nbsp;могут рассматриваться в&nbsp;качестве консультации, совета, разъяснений 
            | Компании в&nbsp;отношении рассматриваемого или&nbsp;любых других финансовых инструментов и&nbsp;сделок.
            | Любое использование информации, представленной в&nbsp;данном документе, включая любые части/разделы документа, 
            | допускается только на&nbsp;собственный страх и&nbsp;риск пользователя. Любое копирование и&nbsp;воспроизведение 
            | информации, представленной в&nbsp;данном документе, как в&nbsp;устной, так и&nbsp;в&nbsp;письменной форме, 
            | допускается только при условии предварительного разрешения (согласия) Компании. Представленная информация 
            | и&nbsp;мнения подлежат изменению без&nbsp;уведомления получателей данной информации и&nbsp; мнений. Представленная 
            | информация не&nbsp;является персональной инвестиционной рекомендацией. Не&nbsp;является рекламой ценных бумаг 
            | и&nbsp;иных финансовых инструментов. Продукт только для&nbsp;квалифицированных инвесторов.
