.modal_company{
    &.fancybox-content{
        width: 100%;
        padding: $spacer 0;
        min-height: 100vh;

        background: $body-bg;
        color: $white;

        cursor: default!important;

        .fancybox-close-small{
            position: fixed;
            top: $grid-gutter-width;
            right: $grid-gutter-width;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .modal_company{
        &.fancybox-content{
            .fancybox-close-small{
                top: 6px;
                right: 6px;
            }
        }
    }
}