.modal{
    display: none;
    background: $body-bg;
    color: $white;

    &__heading{
        margin-bottom: $spacer;
    }
    &__company{
        display: grid;
        grid-gap: $spacer;
        grid-template-columns: 100px 1fr;
        align-items: center;

        // margin-bottom: $spacer;

        &-logo{
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid inherit;
    
            background: $white no-repeat center / contain;
        }
        &-title{
            font-size: map-get($map: $heading, $key: h4);
            line-height: $line-height-heading;
        }
        &-intro{
            font-size: map-get($map: $heading, $key: h5);
            width: 600px;
            max-width: 100%;
        }
    }
    &__download{
        &-icon{
            fill: $white;
            margin-right: $spacer-gutter;
            transition: $transition-base;
        }
        &-btn{
            border-radius: 30px;
            display: inline-flex;
            align-items: center;

            font-size: map-get($map: $heading, $key: h5);
            border: 2px solid $white;
            padding: 4px 26px 6px;

            cursor: pointer;
            transition: $transition-base;

            &_link{
                &:hover{
                    border-color: $action;
                    color: $action;
                    text-decoration: none;
    
                    & > svg {
                        fill: $action;
                    }
                }
            }
            &_disabled{
                filter: opacity(.5);
            }
        }
    }
    &__form{
        width: 1024px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &-container{
            border-radius: $border-radius;
            background: lighten($color: $body-bg, $amount: 4);
            padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 1);
        }
        &-thanks{
            text-align: center;
        }
        &-intro{
            width: 660px;
            max-width: 100%;
            margin: 0 auto $spacer;
            text-align: center;
            font-size: map-get($map: $heading, $key: h5);
        }
        &-icon{
            fill: $white;
            margin-right: $spacer-gutter;
            transition: $transition-base;

            padding: 6px;
            border: 2px solid $white;
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
        &-btn{
            display: inline-flex;
            align-items: center;

            font-size: map-get($map: $heading, $key: h5);

            &_link{
                cursor: pointer;
                transition: $transition-base;
                &:hover{
                    color: $orange;
                    text-decoration: none;
    
                    & > svg {
                        border-color: $orange;
                        fill: $orange;
                    }
                }
            }
        }
    }
    &__stats{
        padding-right: $spacer;
        &-item{
            display: grid;

            grid-gap: $grid-gutter-width;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            font-size: map-get($map: $heading, $key: h5);
            padding: 2*$grid-gutter-width 0;
            border-bottom: 2px solid $white;
        }
        &-value{
            color: $action;
            text-align: right;
        }
    }
    // Отслеживать | Получить pdf
    &__track{
        &-container{
            position: relative;
        }

        position: absolute;
        top: -30px;
        left: -30px;

        opacity: 0;
        transition: $transition-base;
        z-index: -1;

        width: 480px;
        max-width: 100%;

        background-color: $orange;
        padding: 30px;
        border-radius: $border-radius;

        &-intro{
            font-size: map-get($map: $font-size, $key: lg);
            text-align: center;
            margin: 30px auto;
        }
        &-input{
            width: 100%;
        }
        &-btn{
            width: 100%;
            margin-top: $spacer-gutter;
        }
        &-form{
            &_pdf{
                margin-top: $spacer;
            }
        }
        // JS State
        &--active{
            opacity: 1;
            z-index: 11;
        }
    }

    // Fancybox
    .fancybox-button.fancybox-close-small{
        padding: 0;
        top: $grid-gutter-width;
        right: $grid-gutter-width;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .modal{
        &__company{
            &-intro{
                font-size: map-get($map: $heading, $key: h6);
            }
        }
        &__stats{
            &-item{
                font-size: map-get($map: $heading, $key: h6);
                padding: $spacer 0;
            }
        }
        &__download{
            &-btn{
                font-size: map-get($map: $heading, $key: h6);
            }
        }
        &__form{
            &-btn{
                font-size: map-get($map: $heading, $key: h6);
            }
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .modal{
        &__company{
            grid-template-columns: 80px 1fr;
        
            &-logo{
                width: 80px;
                height: 80px;
            }
            &-title{
                font-size: map-get($map: $heading, $key: h5);
            }
            &-intro{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
        &__stats{
            &-item{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
        &__download{
            &-btn{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
        &__form{
            &-btn{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .modal{
        &__heading{
            margin-bottom: $spacer/2;

            flex-direction: column-reverse;
        }
        &__form{
            &-container{
                padding: map-get($map: $spacers, $key: 1);
            }
            &-intro{
                font-size: map-get($map: $font-size, $key: lg);
            }
            &-btn{
                &_link{
                    margin-bottom: $spacer;
                }
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .modal{
        &__stats{
            padding-right: 0;
            &-item{
                font-size: map-get($map: $font-size, $key: md);
            }
        }
        &__form{
            &-container{
                padding: $spacer;
            }
            &-intro{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .modal{
        &__company{
            &-title{
                font-size: map-get($map: $heading, $key: h6);
            }
            &-intro{
                font-size: map-get($map: $font-size, $key: md);
            }
        }
        &__stats{
            &-item{
                font-size: map-get($map: $font-size, $key: md);
            }
        }
        &__download{
            &-btn{
                font-size: map-get($map: $font-size, $key: md);
            }
        }
        &__form{
            &-container{
                padding: 0;
                background: $body-bg;
            }
            &-btn{
                font-size: map-get($map: $font-size, $key: md);
            }
        }
        
        &__stats{
            &-item{
                grid-gap: $spacer-gutter/2;
                padding-top: $spacer-gutter;
                padding-bottom: $spacer-gutter;
            }
        }
        &__track{
            padding: $spacer/2;
            top: -$spacer/2;
            left: -$spacer/2;

            &-intro{
                font-size: map-get($map: $font-size, $key: sm);
                margin: $spacer/2 auto;
            }
            &-form{
                &_pdf{
                    margin-top: $spacer/2;
                }
            }
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .modal{
        &__company{
            grid-template-columns: 56px 1fr;
        
            &-logo{
                width: 56px;
                height: 56px;
            }
        }
        &__stats{
            &-item{
                grid-gap: $spacer-gutter/2;
                font-size: map-get($map: $font-size, $key: sm);
            }
        }
        &__form{
            &-intro{
                font-size: map-get($map: $font-size, $key: md);
            }
            &-icon{
                padding: 2px;
                width: 26px;
                height: 26px;
            }
            &-btn{
                font-size: map-get($map: $font-size, $key: sm);
            }
        }
    }
}