.modal{
    display: none;

    &_licence.fancybox-content {
        width: 620px;
        max-width: 100%;
        border-radius: $border-radius;
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
        background: $body-bg;
        color: $white;
        cursor: default !important;
    }
}

// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .modal{
        &_licence.fancybox-content {
            padding: map-get($map: $spacers, $key: 3);
        }
    }
}