.modal_form{
    &.fancybox-content{
        width: 1180px;
        max-width: calc(100% - 40px);

        border-radius: $border-radius;
        color: $white;
        background: lighten($color: $body-bg, $amount: 4);
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 1);

        cursor: default!important;
    }
}