.modal.modal_form.d-none#modal3
    p.modal__form-intro Оставьте заявку, чтобы сразу узнать про&nbsp;появление компании. 
        | Наши&nbsp;консультаты свяжутся с&nbsp;вами как только поступит новая информация.
    .form.form_modal.modal__form
        input.input.form_modal__input(type="text", name="name",placeholder="Вашe имя")
        input.input.form_modal__input(type="text", name="mail",placeholder="Ваш e-mail")
        button.form_modal__btn.btn.btn_action(type="submit") Получить уведомление