.modal.modal_form.d-none#modal4
    p.modal__form-intro Предложите компанию, в Pre-IPO которой хотели бы принять участие:
    .form.form_subscribe.modal__form
        input.input.form_subscribe__input(type="text", name="company",placeholder="Название компании")
        input.input.form_subscribe__input(type="text", name="mail",placeholder="Ваш e-mail")
        button.form_subscribe__btn.btn.btn_offer(type="submit") Предложить компанию