.input{
    border: 2px solid $white;
    border-radius: $border-radius;
    padding: 24px 30px 22px 30px;
    background-color: inherit;
    color: $white;

    font-size: map-get($map: $heading, $key: h5);
    line-height: $line-height-heading;

    &::placeholder{
        font-size: map-get($map: $heading, $key: h5);
        color: $white;
        transition: $transition-base;
    }
    &:focus{
        &::placeholder{
            opacity: 0;
        }
    }
    &:hover, &:focus{
        outline: none;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .input{
        font-size: map-get($map: $font-size, $key: sm);
        padding: 20px 26px 22px 26px;

        &::placeholder{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}