.input{
    border: 2px solid $white;
    border-radius: $border-radius;
    padding: 24px 30px 22px 30px;
    background-color: inherit;
    color: $white;

    font-size: map-get($map: $heading, $key: h5);
    line-height: $line-height-heading;

    &::placeholder{
        font-size: map-get($map: $heading, $key: h5);
        color: $white;
    }
    &:hover, &:focus{
        outline: none;
    }
}
// < 1680px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .input{
        font-size: map-get($map: $font-size, $key: md);
        padding: 20px 30px 18px 30px;
        &::placeholder{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}
// < 920px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .input{
        font-size: map-get($map: $font-size, $key: sm);
        padding: 14px 30px 12px 30px;
        border-radius: $border-radius/2;

        &::placeholder{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}