.item{
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;

    background-color: rgba(0, 0, 0, .35);
    backdrop-filter: blur(10px);

    transition: .3s;

    &__title{
        font-size: 26px;
        line-height: $line-height-heading;
    }
    &__rub{
        // 5px
        padding-left: $spacer-gutter/3;
    }
    

    &--hover{
        background-color: rgba(0, 0, 0, .5);
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item{
        &__title{
            font-size: map-get($map: $font-size, $key: lg);
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item{
        &__title{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item{
        border-radius: $border-radius/2;
        &__title{
            font-size: map-get($map: $font-size, $key: xs);
            line-height: 1;
        }
    }
}