.item_stocks{
    position: relative;
    padding: map-get($map: $spacers, $key: 1);
    padding-right: map-get($map: $spacers, $key: 5);
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    background-color: $dark-grey;
    max-width: 100%;

    &__info{
        margin-right: map-get($map: $spacers, $key: 1);
        
        &:last-child{
            margin-right: 0;
        }
    }
    &__title{
        font-size: map-get($map: $font-size, $key: lg);
        line-height: $line-height-heading;
    }
    &__label,
    &__subtitle{
        line-height: $line-height-heading;
        color: $light-grey;
    }
    // Total Paper Count
    &__count{
        position: absolute;
        top: 4px;
        right: 4px;

        background-color: $body-bg;
        border-radius: 30px;
        line-height: 28px;
        text-align: center;
        padding: 3px 10px 0;
    }
}

// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_stocks{
        &__title{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__label,
        &__subtitle{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__count{
            font-size: map-get($map: $font-size, $key: xs);
            line-height: 20px;
        }
        &__info{
            margin-right: map-get($map: $spacers, $key: 1)/2;
        
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_stocks{
        &__title{
            // font-size: map-get($map: $font-size, $key: lg);
        }
        &__label,
        &__subtitle{
            font-size: map-get($map: $font-size, $key: sm);
        }
        &__info{
            margin-right: map-get($map: $spacers, $key: 1);
        
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_stocks{
        width: 320px;

        &__label,
        &__subtitle{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__info{
            margin-right: $spacer-gutter;
        
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .item_stocks{
        padding-top: 16px;
        padding-bottom: 14px;

        &__title{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__label,
        &__subtitle{
            font-size: 10px;
        }
    }
}