.item_product{
    position: relative;

    width: 250px;
    max-width: 100%;
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    text-align: center;

    &__type{
        font-size: map-get($map: $heading, $key: h5);
        line-height: $line-height-heading;
    }
    &__name{
        font-size: map-get($map: $heading, $key: h5);
        line-height: $line-height-heading;
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 120px;
        margin: map-get($map: $spacers, $key: 1) 0;

        img{
            max-height: 100%;
        }
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_product{
        width: 234px;
        padding: map-get($map: $spacers, $key: 1);

        &__img{
            height: 104px;
            margin: $spacer-gutter 0;
        }
    }
}
// < 1400px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_product{
        width: 180px;
        padding: $spacer-gutter;

        &__type{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__name{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__img{
            height: 84px;
        }
    }
}
// < 920px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_product{
        display: grid;
        grid-gap: 0px;
        grid-template-areas: 
            "image type"
            "image name"
            "image price";
        grid-template-columns: 74px 1fr;
        grid-template-rows: 30px 20px 1fr;

        text-align: left;
        width: 240px;
        padding: 24px 15px;

        &__img{
            margin: 0;
            grid-area: image;
            height: 74px;
        }
        &__type{
            font-size: map-get($map: $font-size, $key: xs);
            color: $grey;
            grid-area: type;
        }
        &__name{
            font-size: map-get($map: $font-size, $key: sm);
            grid-area: name;
        }
        &__price{
            grid-area: price;
        }
    }
}
// 660px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_product{
        display: block;
        width: 144px;
        padding: $spacer-gutter;
        text-align: center;

        &__img{
            height: 50px;
            margin: 5px 0 10px;
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item_product{
        width: 138px;
        padding: $grid-gutter-width/2 $spacer-gutter;

        &__name{
            font-size: map-get($map: $font-size, $key: xs);
            white-space: nowrap;
        }
        &__img {
            height: 66px;
            margin: 4px 0 10px;
        }
    }
}