.item_preipo{
    background-color: $white;
    border-color: $white;
    color: $black;

    cursor: pointer;
    transition: $transition-base;
    
    &__open-modal{
        border-color: $black;
        transition: $transition-base;

        path{
            fill: $black;
            transition: $transition-base;
        }

        &--hover,
        &:hover{
            border-color: $action;

            path{
                fill: $action;
            }
        }
    }
    &__logo{
        border-color: $grey;
    }
    &__btn{
        width: 100%;
    }

    &:hover{
        border-color: $action;
    }
}