.item_info{
    background-color: $white;
    border-color: $white;
    color: $black;

    padding: $spacer;
    text-align: left;
    
    // height: 100%;
    height: auto;

    justify-content: flex-start;

    &__title{
        margin-top: 0;
        margin-bottom: $spacer-gutter*2;
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_info{
        padding: $spacer/2;

        &__title{
            font-size: map-get($map: $heading, $key: h6);
            margin-bottom: $spacer-gutter;
        }
    }
}