.item_preipo-offer{
    background-color: $white;
    border-color: $white;
    color: $black;

    // height: 100%;
    height: auto;
    
    cursor: pointer;
    transition: $transition-base;

    
    &__logo{
        border-color: $orange;
        background-color: $orange;
    }
    &__btn{
        width: 100%;
    }

    &:hover{
        // border-color: $action;
        transform: scale(0.95);
        // transform: scale(1.05);
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_preipo-soon{
        &:hover{
            // transform: scale(1.025);
            // transform: none;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_preipo-soon{
        &:hover{
            transform: none;
        }
    }
}