.item_preipo{
    background-color: $white;
    border-color: $white;
    color: $black;

    height: 100%;
    
    cursor: pointer;
    transition: $transition-base;
    
    &__open-modal{
        border-color: $black;
        transition: $transition-base;

        path{
            fill: $black;
            transition: $transition-base;
        }

        &--hover,
        &:hover{
            border-color: $action;

            path{
                fill: $action;
            }
        }
    }
    &__logo{
        border-color: $grey;
    }
    &__btn{
        width: 100%;
    }

    &:hover{
        // border-color: $action;
        transform: scale(1.05);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_preipo{
        &:hover{
            transform: scale(1.025);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .item_preipo{
        padding-left: $spacer-gutter;
        padding-right: $spacer-gutter;
    }
}