.item_company-inside{
    position: relative;

    width: 320px;
    max-width: 100%;
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    text-align: left;

    display: grid;
    grid-gap: $spacer-gutter;
    grid-template-columns: 50px 1fr;

    grid-template-areas:
        "logo info"
        "logo price";

    // Total Paper Count
    &__count{
        position: absolute;
        top: 4px;
        bottom: auto;
        right: 4px;

        background-color: $body-bg;
        border-radius: 30px;

        line-height: 28px;
        text-align: center;
        
        padding: 3px 10px 0;
    }
    &__name{
        padding-left: 0;
    }
    &__fullname{
        color: $light-grey;

        font-size: 1rem;
        line-height: $line-height-heading;

        margin-top: 6px;
        padding-left: 0;
    }
    // Price Info
    &__label{
        font-size: 1rem;
        line-height: $line-height-heading;
        color: $light-grey;
        margin-top: 6px;

        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__info{
        grid-area: info;
    }
    &__col{
        grid-area: price;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_company-inside{
        padding: $spacer-gutter;
        width: 100%;
        min-width: 240px;
    }    
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_company-inside{
        grid-template-columns: 40px 1fr;
        &__label{
            font-size: map-get($map: $font-size, $key: xs);
        }
        &__fullname{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }    
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_company-inside{
        min-width: 190px;

        &__name,
        &__price{
            font-size: map-get($font-size,md);
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item_company-inside{
        grid-template-columns: 40px 90px 1fr;
        align-items: center;
        grid-template-areas:
            "logo info price";

        max-width: 300px;
    }
}

// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item_company-inside{
        grid-template-columns: 30px 74px 1fr;
        &__count{
            font-size: map-get($map: $font-size, $key: xs);
            line-height: 20px;
        }
        // &__name,
        // &__price{
            // font-size: map-get($map: $font-size, $key: sm);
        // }
    }
}