.item_preipo-soon{
    background-color: $body-bg;
    color: $white;

    height: 100%;
    cursor: pointer;
    transition: $transition-base;

    &__open-modal{
        border-color: $white;
        transition: $transition-base;

        path{
            fill: $white;
            transition: $transition-base;
        }

        &--hover,
        &:hover{
            border-color: $action;

            path{
                fill: $action;
            }
        }
    }
    &__logo{
        border-color: $action;
        background-color: $action;
    }
    &__btn{
        width: 100%;
    }

    &:hover{
        border-color: $action;
        transform: scale(1.05);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_preipo-soon{
        &:hover{
            transform: none;
        }
    }
}