.item_advantage{
    width: 480px;
    max-width: 100%;
    padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
    margin-left: auto;
    margin-bottom: map-get($map: $spacers, $key: 2);

    display: grid;
    grid-gap: 0;
    grid-template-columns: 60px 1fr;
    grid-template-areas: 
        "icon title"
        "icon intro";
    align-items: center;

    &__icon{
        grid-area: icon;
    }
    &__title{
        grid-area: title;
        font-size: map-get($map: $heading, $key: h1);
        line-height: $line-height-heading;
        padding-left: map-get($map: $spacers, $key: 3);
    }
    &__intro{
        grid-area: intro;
        font-size: map-get($map: $heading, $key: h4);
        line-height: $line-height-heading;
        padding-left: map-get($map: $spacers, $key: 3);
    }
    &::before{
        background: linear-gradient(255.03deg, rgba(84, 114, 191, 0.3) -65.11%, rgba(255, 0, 0, 0) 185.85%);
        filter: opacity(1) drop-shadow(0px 34px 60px rgba(0, 0, 0, 0.25));
    }
    &::after{
        filter: opacity(0) drop-shadow(0px 34px 60px rgba(0, 0, 0, 0.25));
    }

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        &::before{
            filter: opacity(0) drop-shadow(0px 34px 60px rgba(0, 0, 0, 0.25));
        }
        &::after{
            filter: opacity(1) drop-shadow(0px 34px 60px rgba(0, 0, 0, 0.25));
        }
    }
}
// < 1680px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_advantage{
        &__title{
            font-size: map-get($map: $heading, $key: h2);
        }
        &__intro{
            font-size: map-get($map: $heading, $key: h5);
        }
    }
}
// < 1380px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_advantage{
        padding: map-get($map: $spacers, $key: 1);
        grid-template-columns: 40px 1fr;
        width: 340px;

        &__title{
            font-size: map-get($map: $heading, $key: h4);
            padding-left: map-get($map: $spacers, $key: 1);
        }
        &__intro{
            font-size: map-get($map: $heading, $key: h6);
            padding-left: map-get($map: $spacers, $key: 1);
        }
    }
}
// < 920px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_advantage{
        width: 280px;
        margin-bottom: $spacer-gutter;
        
        &:last-child{
            margin-bottom: 0;
        }

        &__title{
            font-size: map-get($map: $heading, $key: h5);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_advantage{
        width: 100%;
        margin-left: 0;
        &__intro{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}