.item_service{
    text-align: center;
    padding: $spacer;

    &__icon{
        margin: 0 auto $spacer;
    }
    &__title{
        font-size: 26px;
        line-height: $line-height-heading;
        margin-bottom: $spacer/2;
    }
    &__intro{
        // font-size: map-get($map: $heading, $key: h5);
        // font-size: map-get($map: $font-size, $key: md);
        // line-height: $line-height-base;
        color: $light-grey;
        min-height: 230px;
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_service{
        padding: map-get($map: $spacers, $key: 3);
        &__title{
            font-size: 22px;
        }
        // &__intro{
        //     font-size: map-get($map: $heading, $key: h6);
        // }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_service{
        padding: map-get($map: $spacers, $key: 1);
    
        &__title{
            font-size: map-get($map: $heading, $key: h6);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_service{
        padding-left: map-get($map: $spacers, $key: 1)/2;
        padding-right: map-get($map: $spacers, $key: 1)/2;

        &__icon{
            width: 60px;
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__title{
            font-size: map-get($map: $font-size, $key: sm);
            margin-top: map-get($map: $spacers, $key: 1);
            margin-bottom: map-get($map: $spacers, $key: 1)/2;
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_service{
        padding: map-get($map: $spacers, $key: 1);

        &__title{
            font-size: map-get($map: $font-size, $key: lg);
        }
        &__intro{
            min-height: 1px;
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .item_service{
        &__icon{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__title{
            font-size: map-get($map: $font-size, $key: sm);
            margin-top: map-get($map: $spacers, $key: 1);
            margin-bottom: map-get($map: $spacers, $key: 1)/2;
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
}