.item_service{
    text-align: center;
    padding: 50px $spacer;

    &__icon{
        margin: 0 auto $spacer;
    }
    &__title{
        margin-bottom: $spacer/2;
    }
    &__intro{
        font-size: map-get($map: $heading, $key: h5);
        line-height: $line-height-base;
        color: $light-grey;
    }
}
// < 1680px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_service{
        padding: map-get($map: $spacers, $key: 3);

        &__intro{
            font-size: map-get($map: $heading, $key: h6);
        }
    }
}
// < 1380px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_service{
        padding: map-get($map: $spacers, $key: 1);
    
        &__intro{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_service{
        &__icon{
            width: 60px;
            margin-bottom: map-get($map: $spacers, $key: 2);
        }
        &__title{
            font-size: map-get($map: $font-size, $key: md);
            margin-top: map-get($map: $spacers, $key: 2);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}