.item_company{
    position: relative;

    width: 250px;
    max-width: 100%;
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    text-align: left;

    // Total Paper Count
    &__count{
        position: absolute;
        top: 4px;
        right: 4px;

        background-color: $body-bg;
        border-radius: 30px;
        line-height: 28px;
        text-align: center;
        padding: 3px 10px 0;
    }
    // About Company
    &__info{
        display: grid;
        grid-gap: 0;
        grid-template-columns: 50px 1fr;
        grid-template-areas: 
            "logo name"
            "logo fullname";
        align-items: center;

        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__logo{
        grid-area: logo;
    }
    &__name{
        grid-area: name;
        padding-left: $spacer-gutter;
    }
    &__fullname{
        grid-area: fullname;
        padding-left: $spacer-gutter;

        font-size: 1rem;
        line-height: $line-height-heading;
        color: $grey;
    }
    // Price Info
    &__label{
        font-size: 1rem;
        line-height: $line-height-heading;
        color: $light-grey;
        margin-bottom: 6px;

        &::first-letter{
            text-transform: uppercase;
        }
    }
    &__subtotal{
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item_company{
        width: 234px;
        padding: map-get($map: $spacers, $key: 1);

        // Price Info
        &__label{
            margin-bottom: $spacer-gutter/3;
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item_company{
        width: 180px;
        padding: $spacer-gutter;

        &__count{
            font-size: map-get($map: $font-size, $key: xs);
            line-height: 18px;
            padding: 4px 8px 0;
        }
        &__info{
            grid-template-columns: 40px 1fr;
        }
        &__name{
            padding-left: 10px;
        }
        &__fullname{
            font-size: map-get($map: $font-size, $key: xs);
            padding-left: 10px;
        }
        &__label{
            font-size: map-get($map: $font-size, $key: sm);
        }
        &__subtotal{
            margin-bottom: $spacer-gutter;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .item_company{
        display: flex;
        flex-wrap: wrap;
        width: 240px;

        &__info{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: $spacer-gutter;
        }
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
        }
        &__subtotal{
            margin-bottom: 0;
        }
        &__label{
            font-size: 11px;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .item_company{
        // display: block;
        padding: $spacer-gutter;
        // text-align: center;

        max-width: 160px;
        width: 100%;

        &__info{
            grid-template-columns: 30px 1fr;
        }
        &__col{
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__subtotal{
            margin-bottom: $grid-gutter-width/2;
        }
        
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .item_company{
        padding-top: map-get($map: $spacers, $key: 1)/2;
        padding-bottom: map-get($map: $spacers, $key: 1)/2;

        &__label{
            font-size: 10px;
        }
        &__name{
            font-size: map-get($map: $font-size, $key: sm);
        }
        &__count{
            top: auto;
            bottom: 4px;
        //     font-size: 10px;
        //     line-height: 16px;
        //     padding: 2px 6px 0;
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .item_company{
        padding: $spacer-gutter;

        &__fullname{
            font-size: 10px;
        }
        &__info{
            grid-template-columns: 22px 1fr;
            align-items: flex-start;
            margin-bottom: $grid-gutter-width/2;
        }
        // &__label{
        //     color: $grey;
        // }
    }
}