.item{
    position: relative;
    overflow: hidden;
    transition: $transition-base;

    padding: map-get($map: $spacers, $key: 1)/2;
    border-radius: $border-radius;
    border: 6px solid;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    &__logo{
        margin: 0 auto;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: 1px solid;

        background: $white no-repeat center / contain;
    }
    &__title{
        margin-top: $spacer/2;
        margin-bottom: $spacer-gutter;

        font-size: map-get($map: $heading, $key: h3);
        font-weight: $font-weight-bolder;
        line-height: $line-height-heading;
    }
    &__subtitle{
        font-size: map-get($map: $heading, $key: h6);
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__statistics{
        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 200px 1fr;

        font-size: map-get($map: $heading, $key: h6);
        line-height: $line-height-heading;

        margin-bottom: $spacer;

        &-title{
            text-align: left;
        }
        &-value{
            text-align: right;
            font-weight: $font-weight-bold;
        }
    }
    &__open-modal{
        position: absolute;
        top: 30px;
        right: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .item{
        &__subtitle{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__statistics{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__logo{
            margin: 0 auto;
            width: 110px;
            height: 110px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .item{
        border-radius: $border-radius/2;
        padding: $spacer/2;

        &__open-modal{
            top: 20px;
            right: 20px;
        }
        &__logo{
            // margin: 0 auto;
            width: 90px;
            height: 90px;
        }
        &__title{
            font-size: map-get($map: $heading, $key: h4);
        }
        &__subtitle{
            // font-size: map-get($map: $font-size, $key: md);
            margin-bottom: $spacer;
        }
        &__statistics{
            font-size: map-get($map: $font-size, $key: sm);
            grid-template-columns: auto 1fr;
        }
    }
}


@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .item{
        &__open-modal{
            width: 20px;
            height: 20px;

            svg{
                width: 10px;
                height: 10px;
            }
        }
        &__logo{
            width: 70px;
            height: 70px;
        }
        &__title{
            font-size: map-get($map: $heading, $key: h5);
        }
        &__subtitle{
            font-size: map-get($map: $font-size, $key: sm);
        }
        // &__statistics{
        //     font-size: map-get($map: $font-size, $key: sm);
        //     grid-template-columns: auto 1fr;
        // }
    }
}