h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    line-height: $line-height-heading;
    margin-bottom: $spacer;

    &:last-child{
        margin-bottom: 0;
    }
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: map-get($map: $spacers, $key: 1);
}
//120
.h1,h1{font-size: map-get($map: $heading, $key: h1);}
// 80
.h2,h2{font-size: map-get($map: $heading, $key: h2);}
// 30
.h3,h3{font-size: map-get($map: $heading, $key: h3);}
// 24
.h4,h4{font-size: map-get($map: $heading, $key: h4);}
// 20
.h5,h5{font-size: map-get($map: $heading, $key: h5);}
// 18
.h6,h6{font-size: map-get($map: $heading, $key: h6);}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    // 80
    .h1,h1{font-size: map-get($map: $heading, $key: h2);}
    .h2,h2{font-size: 56px;}
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .h1,h1{font-size: 56px;}
    .h2,h2{font-size: 40px;}
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .h1,h1{font-size: 42px;}
    .h2,h2{font-size: 34px;}
    .h3,h3{font-size: 26px;}
}