.header{
    z-index: 1;
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    &__logo{
        width: 200px;
        // 40px
        height: $spacer;
        background: url('../img/logo.svg') no-repeat left center / contain;
    }
    &__nav{
        display: flex;
        align-items: center;
        line-height: 1;

        &-item{
            font-size: map-get($map: $font-size, $key: lg);
            transition: $transition-base;

            padding-left: map-get($map: $spacers, $key: 1);

            &:hover{
                text-decoration: none;
            }
        }
    }
}