header.header
    a.header__logo(href="/")
    a.header__phone(href="/")
        svg.header__phone-icon(width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg")
            //- path(fill-rule="evenodd" clip-rule="evenodd" d="M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28ZM17.5432 17.193L20 20.923L17.8717 22L17.8534 21.974C14.7909 20.71 12.1185 18.651 10.297 15.884C8.47666 13.12 7.77861 10.06 8.06034 7.101L8.04437 7.077L10.1727 6L12.6295 9.731L11.2106 11.884L14.7065 17.193H17.5432Z")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28ZM17.9988 16.693L20.4556 20.423L18.3273 21.5L18.309 21.474C15.2466 20.21 12.5742 18.151 10.7527 15.384C8.93229 12.62 8.23424 9.56 8.51597 6.601L8.5 6.577L10.6283 5.5L13.0852 9.231L11.6663 11.384L15.1622 16.693H17.9988Z")

        span.header__phone-body 8 800 200 55 91