header.header
    .header__container
        a.header__logo(href="/")
        .header__nav 
            a.header__nav-item(href="#screen1" data-trigger="scroll") Текущие Pre-IPO
            a.header__nav-item(href="#screen2" data-trigger="scroll") Прошедшие Pre-IPO
            a.header__nav-item(href="#screen3" data-trigger="scroll") Что такое Pre-IPO
            a.header__nav-item(href="#screen4" data-trigger="scroll") Как мы работаем