.content{
    &__grid{
        display: grid;

        grid-gap: map-get($map: $spacers, $key: 1);
        grid-template-columns: repeat(3, 1fr);
    }
    &__steps{
        display: grid;

        grid-gap: map-get($map: $spacers, $key: 2);
        grid-template-columns: repeat(5, 1fr);

        margin-top: map-get($map: $spacers, $key: 1);
    }

    &__title{
        color: $action;
    }
    &__intro{
        font-size: map-get($map: $heading, $key: h4);

        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &_about{
            width: 880px;
        }
        &_work{
            width: 1040px;
            font-size: map-get($map: $heading, $key: h5);
        }
    }
    &__stats{
        border-bottom: 2px solid $white;

        &-item{
            display: grid;

            grid-gap: $spacer;
            grid-template-columns: repeat(2, 1fr);

            font-size: map-get($map: $heading, $key: h4);
            padding: $spacer 0;
            border-top: 2px solid $white;
        }
        &-value{
            color: $action;
            text-align: right;
        }
    }
    // align-items: flex-end;
}
// < 1600px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content{
        &__grid{
            grid-gap: $spacer/2;
        }
        &__intro{
            font-size: map-get($map: $heading, $key: h5);

            &_work{
                font-size: map-get($map: $heading, $key: h6);
            }
        }
        &__stats{
            &-item{
                font-size: map-get($map: $heading, $key: h5);
            }
        }
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content{
        &__intro{
            font-size: map-get($map: $heading, $key: h6);

            &_work{
                font-size: map-get($map: $font-size, $key: lg);
            }
        }
        &__steps{
            grid-gap: map-get($map: $spacers, $key: 1);
            grid-template-columns: repeat(3, 1fr);
            
            margin-top: $spacer;
        }
        &__stats{
            &-item{
                font-size: map-get($map: $heading, $key: h5);
            }
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        &__stats-item{
            padding: $spacer/2 0;
            font-size: map-get($map: $heading, $key: h6);            
        }
        &__grid{
            grid-template-columns: repeat(2, 1fr);

            &_advantage{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        &__slider{
            max-width: 100%;
        }
        &__steps{
            grid-gap: $spacer/2;
            grid-template-columns: repeat(2, 1fr);
        }
        &__intro{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__stats-item{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__grid{
            &_advantage{
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content{
        &__steps{
            grid-template-columns: 1fr;
            width: 380px;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xxs')){
    .content{
        &__grid{
            &_advantage{
                grid-template-columns: 1fr;
            }
        }
    }
}
