.product{
    position: relative;
    // overflow-x: clip;
    display: grid;
    grid-gap: $grid-gutter-width;
    grid-template-columns: repeat(2, 1fr);

    &__figure{
        position: absolute;
        top: 200px;
        left: -640px;
        z-index: -1;
    }

    &__col{
        display: flex;
        align-items: stretch;
    }
}
// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .product{
        &__figure{
            width: 460px;
            top: -80px;
            left: -300px;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .product{
        grid-template-columns: repeat(2, 1fr);
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product{
        grid-template-columns: 1fr;

        &__figure{
            width: 460px;
            left: -300px;
            top: 0px;
        }
    }
}